#trash-can {
    overflow: hidden;
    position:fixed;
    bottom:0;
    right:0;
    background: url('/static/img/trash.png');
    height:128px;
    width:128px;
/*    float:right;*/
    padding:0;
}
#trash-can li {
/*    height: 0;*/
/*    width: 0;*/
/*    overflow: hidden;*/
}
input[name$="DELETE"]{
    display:none;
}
.place-holder{
    border-width:4px;
    border-style:dashed;
    border-color:grey;
    width:100%;
    height:100px;
    text-align:center;
}
.place-holder p{
    font:bold 1.75em arial,sans-serif;
    color:grey;
}
