<div class="feedback-btn">Feedback</div>
<div class="feedback">
        <div class="feedback-header">
            <h2>Send feedback</h2>
            <a class="feedback-close">X</a>
        </div>
        <form method="POST" action="./srt-preview.php">
            <fieldset>
            <label>Highlight the problem:</label>
            <button class="srt-highlight srt-start">Start highlighting</button>
            <button class="srt-highlight srt-stop">Stop highlighting</button>
            </fieldset>
            <fieldset>
            <label>Describe the problem:</label>
            <textarea name="srt-description"></textarea>
            </fieldset>
            <input type="hidden" value="/" name="requestUri">
            <input type="hidden" value="" name="srt-data">
            <button name="submit">Preview</button>
        </form>
    </div>
