.element-feature{
    margin:10px 0 10px 0;
}
.name-area{
    width:50%;
    float:left;
}
.preview-area{
    width:50%;
    float:right;
}
.horizontalScroll{
    width:100%;
    padding-top:20px;
    padding-bottom: 20px;
    overflow:auto;
    white-space: nowrap;
}
.horizontalScroll>img.selected{
    border-width: 5px;
    border-style: solid;
    border-color: #6D86AD #647A9E #546685;
    margin:5px;
}
