body {
/*    background: url("/static/img/black-stripe.gif") repeat scroll 0 0 #282828;*/
    background: none repeat scroll 0 0 #FAF0D9;
}

#container{
}

#left-panel{
    width:200px;
    padding: 15px;
    float:left;
}

#content{
    width:800px;
    float:left;
}

.formWrapper {
}
.name-area{
    width:50%;
    float:left;
}
.preview-area{
    width:50%;
    float:right;
}
.toggle-text{
    cursor:pointer;
}
li.toolbar-element{
    list-style:none;
    vertical-align:middle;
}
ul.toolbar-elements{
    padding:0;
}

