@import url("/static/fonts/titillium/stylesheet.css");
    *{padding:0;
    margin:0}

.block table input.submit.long {
    background: url("/static/img/btnb.gif") no-repeat scroll center top transparent;
    width: 165px;
    text-align: center;
}
.block table input.submit {
    background: url("/static/img/btns.gif") no-repeat scroll center top transparent;
    border: 0 none;
    color: #FFFFFF;
    cursor: pointer;
    font-family: "Titillium800","Trebuchet MS",Arial,sans-serif;
    font-size: 14px;
    font-weight: normal;
    height: 30px;
    line-height: 30px;
    padding-bottom: 3px;
    text-shadow: 1px 1px 0 #0A5482;
    text-transform: uppercase;
    vertical-align: middle;
    width: 85px;
}

    
body{background:#fbfbfb url("/static/img/bg.jpg") 0 0 repeat;
    font-family:"Lucida Grande",Verdana,sans-serif;
    font-size:12px;
    color:#666;
    line-height:20px;
    -webkit-text-size-adjust:none}
:focus{-moz-outline-style:none}
p{padding-bottom:15px}
img, a
img{border:0}
ul
li{list-style:none}
.clear{clear:both}
.hidden{display:none}
a{color:#008ee8;
    text-decoration:none;
    outline:none}
a:hover{color:#ec8526;
    text-decoration:none}
a.hide{color:#ec8526}
#hld{background:url(/static/img/hld.jpg) 0 0 repeat-x;
    min-height:402px}
#search
.highlight{background-color:yellow}
.wrapper{width:1060px;
    min-width:1060px;
    margin:0
auto;
    padding-top:30px}
.cur_help{cursor:help}
.cur_hand{cursor:pointer}
.req{font-weight:bold}
.reqred{font-weight:bold;
    color:red}
a.ornge{color:red}
.aright{float:right}
.aleft{float:left}
.fright{text-align:right}
.fleft{text-align:left}
.tinyfont{font-size:10px}
.smfont{font-size:11px}
.midfont{font-size:12px}
.td_padd td, .td_padd
th{padding:8px}
table.sortable th, .pointer
th{cursor:pointer}
.video{float:left;
    height:205px;
    width:320px;
    border:1px
solid #BBB;
    margin:4px
26px 6px 0}
h1.video-h1{font-size:31px;
    padding:20px
0 10px 0}
.feature{clear:both;
    float:left;
    width:225px;
    border:1px
solid #BBB;
    margin:12px
0 21px 20px}
.feature2{float:right;
    width:610px;
    padding:0
20px 23px 20px;
    margin-right:20px}
.status_active{color:#008040}
.status_inactive{color:#CCC}
.status_sent{color:#808040}
.hovRow{background-color:#f8f8f8}
#articles_submit tr.odd
td{cursor:pointer}
#articles_submit
div.arrow{background:transparent url("/static/img/arrow-right_16x16.gif") no-repeat;
    width:16px;
    height:16px;
    display:block}
#articles_submit
div.up{background:transparent url("/static/img/arrow-downright_16x16.gif") no-repeat;
    width:16px;
    height:16px;
    display:block}
div.article_content{background-color:#fff;
    border:1px
solid #c0c0c0;
    margin:0px;
    font-size:11px;
    padding:9px}
div.article_content.hover{}
div.article_content.active{background-color:#eee;
    border:1px
solid #666}
div.copied.active{color:#000;
    cursor:pointer}
#header{height:50px;
    line-height:50px;
    background:url(/static/img/hdr.gif) 0 0 repeat-x;
    color:#999;
    font-weight:bold;
    margin-bottom:20px}
#header
.hdrl{width:20px;
    height:50px;
    float:left;
    background:url(/static/img/hdrl.gif) top left no-repeat}
#header
.hdrr{width:20px;
    height:50px;
    float:right;
    background:url(/static/img/hdrr.gif) top right no-repeat}
#header
a{color:#999;
    text-decoration:none}
#header a:hover{color:#fff}
#header
h1{float:left;
    margin-right:65px;
    font-family:"Titillium800","Trebuchet MS",Arial,sans-serif;
    font-size:18px;
    font-weight:normal;
    text-transform:uppercase;
    color:#fff}
#header h1
a{color:#fff}
#header h1 a:hover{color:#008ee8}
#header #nav, #header #nav
*{z-index:20}
#header
#nav{margin:0;
    border:0
none;
    padding:0;
    width:auto;
    list-style:none;
    height:50px;
    padding:0;
    float:left}
#header #nav
li{margin:0;
    border:0
none;
    padding:0;
    float:left;
    display:inline;
    list-style:none;
    position:relative;
    height:50px;
    padding:0
10px;
    background:url(/static/img/nsp.gif) center right no-repeat;
    line-height:50px}
#header #nav
li.nobg{background:none}
#header #nav
ul{margin:0;
    border:0
none;
    padding:0;
    width:190px;
    list-style:none;
    display:none;
    position:absolute;
    top:50px;
    left:0}
#header #nav ul:after{clear:both;
    display:block;
    font:1px/0px serif;
    content:".";
    height:0;
    visibility:hidden}
#header #nav ul
li{width:190px;
    float:left;
    display:block !important;
    display:inline;
    position:relative;
    top:0;
    height:30px;
    line-height:30px;
    padding:0;
    background:none}
#header #nav
a{float:none !important;
    float:left;
    display:block;
    height:auto !important;
    height:1%;
    height:30px;
    padding:0
10px}
#header #nav li.active
a{color:#ddd}
#header #nav li.active a:hover{color:#fff}
#header #nav
a.hasmore{border:1px
solid red}
#header #nav a:hover,
#header #nav li:hover a,
#header #nav li.iehover
a{color:#fff}
#header #nav li:hover li a,
#header #nav li.iehover li
a{text-transform:none;
    padding:0
15px;
    font-size:11px;
    font-weight:bold;
    line-height:30px;
    color:#999;
    background:url(/static/img/mbg.png) 0 0 repeat}
#header #nav li:hover li a:hover,
#header #nav li:hover li:hover a,
#header #nav li.iehover li a:hover,
#header #nav li.iehover li.iehover
a{color:#fff;
    background:#000}
#header #nav li:hover li:hover li a,
#header #nav li.iehover li.iehover li
a{float:none;
    color:#999;
    background:url(/static/img/mbg.png) 0 0 repeat}
#header #nav li:hover li:hover li a:hover,
#header #nav li:hover li:hover li:hover a,
#header #nav li.iehover li.iehover li a:hover,
#header #nav li.iehover li.iehover li.iehover
a{color:#fff;
    background:#000}
#header #nav li:hover li:hover li:hover li a,
#header #nav li.iehover li.iehover li.iehover li
a{color:#999;
    background:url(/static/img/mbg.png) 0 0 repeat}
#header #nav li:hover li:hover li:hover li a:hover,
#header #nav li.iehover li.iehover li.iehover li a:hover{color:#fff;
    background:#000}
#header #nav ul ul,
#header #nav ul ul
ul{display:none;
    position:absolute;
    top:0;
    left:190px}
#header #nav li:hover ul ul,
#header #nav li:hover ul ul ul,
#header #nav li.iehover ul ul,
#header #nav li.iehover ul ul
ul{display:none}
#header #nav li:hover ul,
#header #nav ul li:hover ul,
#header #nav ul ul li:hover ul,
#header #nav li.iehover ul,
#header #nav ul li.iehover ul,
#header #nav ul ul li.iehover
ul{display:block}
#header
.user{float:right;
    font-size:11px}
#header .user
a{text-decoration:underline}
#header .user a:hover{text-decoration:none}
.block{padding-bottom:5px;
    margin-bottom:25px;
    clear:both;
    background:#fff url(/static/img/bnd.gif) bottom center repeat-x}
.block
.bendl{width:5px;
    height:5px;
    background:url(/static/img/bendl.gif) bottom left no-repeat;
    float:left}
.block
.bendr{width:5px;
    height:5px;
    background:url(/static/img/bendr.gif) bottom left no-repeat;
    float:right}
.blockt{height:5px;
    line-height:5px;
    clear:both;
    background:#fff url(/static/img/bnt.gif) 0 0 repeat-x;
    overflow:hidden}
.blockt
.bendtl{width:5px;
    height:5px;
    background:url(/static/img/bendtl.gif) top left no-repeat;
    float:left}
.blockt
.bendtr{width:5px;
    height:5px;
    background:url(/static/img/bendtr.gif) top right no-repeat;
    float:right}
.block
.block_head{height:54px;
    line-height:54px;
    background:url(/static/img/bhead.gif) 0 0 repeat-x;
    overflow:hidden}
.block .block_head
.bheadl{width:20px;
    height:54px;
    float:left;
    background:url(/static/img/bheadl.gif) top left no-repeat}
.block .block_head
.bheadr{width:20px;
    height:54px;
    float:right;
    background:url(/static/img/bheadr.gif) top right no-repeat}
.block .block_head
.bheadl2{width:20px;
    height:54px;
    float:left;
    background:url(/static/img/bheadl2.gif) top left no-repeat}
.block .block_head
.bheadr2{width:20px;
    height:54px;
    float:right;
    background:url(/static/img/bheadr2.gif) top right no-repeat}
.block .block_head
h2{font-family:"Titillium999","Trebuchet MS",Arial,sans-serif;
    font-size:18px;
    font-weight:normal;
    text-transform:uppercase;
    color:#555;
    text-shadow:1px 1px 0 #fff;
    float:left}
.block .block_head
ul{float:right;
    text-transform:uppercase;
    font-size:11px;
    font-weight:bold;
    text-shadow:1px 1px 0 #fff}
.block .block_head ul
li{display:inline;
    padding:3px
0;
    padding-left:20px;
    background:url(/static/img/phs.gif) 7px center no-repeat}
.block .block_head ul
li.nobg{background:none}
.block .block_head ul li
a{text-decoration:none;
    color:#666;
    outline:none}
.block .block_head ul li
a{color:#555;
    text-decoration:underline}
.block .block_head ul li a:hover{color:#008ee8}
.block .block_head ul li.active
a{color:#888;
    text-decoration:none}
.block .block_head
form{float:right;
    padding:15px
0;
    height:34px;
    line-height:24px}
.block .block_head form
.text{width:129px;
    height:15px;
    padding:5px
10px 5px 25px;
    border:0;
    font-size:11px;
    color:#999;
    margin:0;
    background:url(/static/img/srch.gif) left center no-repeat}
.block .block_head form .text:focus{color:#666;
    background:url(/static/img/srch_.gif) left center no-repeat}
.block .block_head
select{text-transform:none}
.block
.block_content{overflow:hidden;
    background:#fff;
    border-left:1px solid #ccc;
    border-right:1px solid #ccc;
    padding:10px
20px}
.block .block_content h1,
.block .block_content
h2{font-family:"Lucida Grande",Helvetica,Arial,sans-serif;
    font-size:18px;
    font-weight:bold;
    color:#454545;
    margin-bottom:10px}
.block .block_content
h3{font-family:"Lucida Grande",Helvetica,Arial,sans-serif;
    font-size:14px;
    font-weight:bold;
    color:#666;
    margin-bottom:5px}
.block .block_content
h4{font-family:Arial,Helvetica,sans-serif;
    font-size:13px;
    font-weight:bold;
    color:#666;
    margin-bottom:5px}
.block
table{text-align:left;
    margin-bottom:15px}
.block table tr td,
.block table tr
th{border-bottom:1px solid #ddd;
    padding:8px
10px;
    line-height:normal;
    text-align:left;
    height:18px}
.block table tr
td.delete{text-align:right;
    font-size:11px}
.block table tr td.delete
a{color:#666}
.block table tr td.delete a:hover{color:#d00}
.block
.tableactions{overflow:hidden;
    padding-bottom:20px;
    float:left;
    margin:0
6px}
.block .tableactions
select{width:100px;
    margin-right:5px;
    vertical-align:middle;
    outline:none}
.block
.pagination{font-size:10px;
    font-weight:bold;
    padding-bottom:15px;
    padding-top:15px;
    border-top:1px solid #eee}
.block
.pagination.right{float:right;
    text-align:right;
    padding-top:1px;
    border:0;
    width:500px;
    overflow:hidden}
.block .pagination
a{border:1px
solid #ccc;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    padding:3px
6px;
    margin:0
1px}
.block .pagination
a.active{background:#39a3e6;
    border:1px
solid #0082d5;
    color:#fff}
.block .pagination a:hover{color:#fff;
    background:#ec8526;
    border:1px
solid #d77011}
.block .block_content
ul{padding-left:15px;
    padding-bottom:15px}
.block .block_content
ol{padding-left:15px;
    padding-bottom:15px;
    list-style-position:inside}
.block .block_content ul
li{margin-bottom:5px;
    padding-left:15px;
    background:url(/static/img/li.gif) 0 7px no-repeat}
.block .block_content ol
li{margin-bottom:5px}
.block
hr{height:1px;
    border:0;
    background:no-repeat;
    border-bottom:1px solid #ddd;
    margin-bottom:15px}
.message,.message2{padding:15px
15px 15px 50px;
    margin:10px
0;
    font-weight:bold;
    overflow:hidden;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px}
.message3{padding:8px
15px 9px 35px;
    margin:10px
0;
    overflow:hidden;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px}
.message
p{padding:0;
    width:93%;
    float:left}
.message2 p, .message3
p{padding:0;
    width:99%;
    float:left}
.message.errormsg,.message2.errormsg{border:1px
solid #e9c59b;
    background:#ffecce url(/static/img/error.gif) 20px 18px no-repeat;
    color:#e3302c}
.message3.errormsg{border:1px
solid #e9c59b;
    background:#ffecce url(/static/img/error.gif) 12px 10px no-repeat;
    color:#e3302c}
.message.success,.message2.success{border:1px
solid #bfde84;
    background:#edfbd8 url(/static/img/success.gif) 20px 18px no-repeat;
    color:#508600}
.message3.success{border:1px
solid #bfde84;
    background:#edfbd8 url(/static/img/success.gif) 12px 8px no-repeat;
    color:#508600}
.message.info,.message2.info{border:1px
solid #bbdbe0;
    background:#ecf9ff url(/static/img/info.gif) 20px 18px no-repeat;
    color:#0888c3}
.message3.info{border:1px
solid #bbdbe0;
    background:#ecf9ff url(/static/img/info.gif) 12px 9px no-repeat;
    color:#0888c3}
.info
a{text-decoration:underline}
.message.warning,.message2.warning{border:1px
solid #e5e181;
    background:#fefde2 url(/static/img/warning.gif) 20px 18px no-repeat;
    color:#666}
.message3.warning{border:1px
solid #e5e181;
    background:#fefde2 url(/static/img/warning.gif) 12px 10px no-repeat;
    color:#666}
.message
.close{display:block;
    float:right;
    width:16px;
    height:16px;
    background:url(/static/img/close.png) 0 0 no-repeat;
    margin-top:2px;
    cursor:pointer;
    -moz-opacity:0.7;
    opacity:0.7}
.message
.close.hover{-moz-opacity:1;
    opacity:1}
.block form
p{overflow:hidden;
    clear:both}
.block form
label{font-family:"Lucida Grande",Verdana,sans-serif;
    font-size:12px;
    color:#555;
    margin-right:10px;
    vertical-align:text-bottom}
.block form
input.text{width:410px;
    background:#fefefe;
    border:1px
solid #bbb;
    font-family:"Lucida Grande",Verdana,sans-serif;
    font-size:12px;
    color:#333;
    padding:7px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    outline:none;
    vertical-align:middle}
.block form
input.text.smaller{width:200px}
.block form
input.text.medium{width:600px}
.block form
input.text.big{width:98%}
.block form
input.text.date_picker{width:100px;
    padding-right:36px;
    cursor:pointer;
    background:url(/static/img/cal.jpg) center right no-repeat}
.block form
textarea{width:96%;
    height:140px;
    padding:5px;
    background:#fefefe;
    border:1px
solid #bbb;
    font-family:"Lucida Grande",Verdana,sans-serif;
    font-size:12px;
    color:#333;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    outline:none}
.block form
textarea.wysiwyg{width:96%;
    padding:0}
.block form input.radio,
.block form
input.checkbox{vertical-align:middle}
.block form select.styled,select.styled{width:245px;
    height:18px;
    margin-right:20px;
    cursor:pointer}
.block form .cmf-skinned-select{padding:7px;
    display:block;
    margin-right:20px;
    border:1px
solid #bbb;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    background:url('/static/img/sdd.jpg') center right no-repeat}
.block form .cmf-skinned-select:hover{background:url('/static/img/sdd_.jpg') center right no-repeat}
.block form div.cmf-skinned-text{padding:7px;
    font-family:"Lucida Grande",Verdana,sans-serif;
    font-size:12px;
    color:#333;
    white-space:nowrap}
.block form
.fileupload{position:relative}
.block form .fileupload
#uploadmsg{display:block;
    position:absolute;
    top:20px;
    left:350px;
    height:30px;
    line-height:30px;
    margin-left:5px;
    font-size:11px}
.block form .fileupload
#uploadmsg.loading{background:url(/static/img/ajax-loader.gif) center left no-repeat;
    width:30px;
    padding-left:20px}
.block form
input.file{width:250px;
    height:20px;
    background:#fefefe;
    border:1px
solid #bbb;
    border-right:0;
    font-family:"Lucida Grande",Verdana,sans-serif;
    font-size:14px;
    color:#333;
    padding:4px;
    -webkit-border-top-left-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    -moz-border-radius-topleft:3px;
    -moz-border-radius-bottomleft:3px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
    outline:none}
.block form
.note{padding-left:10px;
    font-size:11px;
    font-weight:bold;
    color:#757575;
    vertical-align:middle}
.req_field{font-size:11px;
    color:#e3302c}
.block form
.note.error{color:#e3302c}
.block form
label.error{padding-left:10px;
    font-size:11px;
    font-weight:bold;
    vertical-align:middle;
    color:#e3302c}
.block form input.error, .block form select.error, .block form
textarea.error{color:#757575;
    border:1px
solid #C00;
    background-color:#ffd7d7;
    clear:both}
.error_txt{font-size:11px;
    font-weight:bold;
    color:#e3302c}
.block form
input.submit{width:85px;
    height:30px;
    line-height:30px;
    background:url(/static/img/btns.gif) top center no-repeat;
    border:0;
    font-family:"Titillium800","Trebuchet MS",Arial,sans-serif;
    font-size:14px;
    font-weight:normal;
    text-transform:uppercase;
    color:#fff;
    text-shadow:1px 1px 0 #0a5482;
    cursor:pointer;
    vertical-align:middle;
    padding-bottom:3px}
.block form input.submit:hover{background:url(/static/img/btns_.gif) top center no-repeat;
    text-shadow:1px 1px 0 #b55f10}
.block form
input.submit.tiny{width:105px;
    height:20px;
    line-height:20px;
    padding-bottom:2px;
    vertical-align:middle;
    font-family:"Lucida Grande",Arial,Helvetica,sans-serif;
    font-size:10px;
    font-weight:bold;
    text-transform:none;
    background:url(/static/img/tiny.gif) top center no-repeat}
.block form input.submit.tiny:hover{background:url(/static/img/tiny_.gif) top center no-repeat}
.block form
input.submit.mid{width:115px;
    background:url(/static/img/btnm.gif) top center no-repeat}
.block form input.submit.mid:hover{background:url(/static/img/btnm_.gif) top center no-repeat}
.block form
input.submit.long{
    width:165px;
    background:url(/static/img/btnb.gif) top center no-repeat}
.block form input.submit.long:hover{background:url(/static/img/btnb_.gif) top center no-repeat}
.block.small{width:49%;
    background:#fff url(/static/img/bnd.gif) bottom center repeat-x;
    padding-bottom:0}
.block.small.left{float:left;
    clear:none}
.block.small.right{float:right;
    clear:none}
.block.small
.block_head{background:url(/static/img/bhead.gif) 0 0 repeat-x}
.block.small
.block_content{background:#fff;
    border-left:1px solid #ccc;
    border-right:1px solid #ccc}
.block.small .block_content input.text,
.block.small .block_content
textarea{width:96%;
    padding:7px}
.block.small.center{float:none;
    margin:0
auto}
.block.small.center.login{width:470px;
    background:#fff url(/static/img/bnd.gif) bottom center repeat-x;
    margin-top:100px;
    margin-bottom:100px;
    padding-bottom:5px}
.block.withsidebar
.bendl{width:191px;
    background:url(/static/img/bendsb.gif) bottom left no-repeat}
.block.withsidebar
.block_content{overflow:hidden;
    padding:0;
    background:url(/static/img/sidebar.gif) 0 0 repeat-y}
.block.withsidebar .block_content
.sidebar{width:190px;
    float:left;
    font-size:11px}
.block.withsidebar .block_content .sidebar
p{padding:0
13px 15px;
    line-height:18px}
.block.withsidebar .block_content .sidebar
ul.sidemenu{padding:0;
    margin-bottom:10px}
.block.withsidebar .block_content .sidebar ul.sidemenu
li{padding:0;
    margin:0;
    background:0;
    border-bottom:1px solid #ccc}
.block.withsidebar .block_content .sidebar ul.sidemenu li
a{display:block;
    padding:10px
13px;
    font-weight:bold}
.block.withsidebar .block_content .sidebar ul.sidemenu li a:hover{background:#fdfdfd;
    border-right:1px solid #ccc}
.block.withsidebar .block_content .sidebar ul.sidemenu li.active a,
.block.withsidebar .block_content .sidebar ul.sidemenu li.active a:hover{background:#fff;
    border:0;
    color:#FF8040}
.block.withsidebar .block_content
.sidebar_content{padding:15px
20px 15px 210px}
.block .block_content
.imglist{overflow:hidden;
    margin:0;
    padding:0;
    padding-bottom:10px}
.block .block_content .imglist
ul{padding:0}
.block .block_content .imglist
li{padding:0;
    margin:0;
    background:0;
    width:100px;
    height:100px;
    display:block;
    float:left;
    position:relative;
    margin:13px
17px 10px 10px;
    border:1px
solid #ccc;
    padding:1px;
    box-shadow:0 0 3px #ccc;
    -moz-box-shadow:0 0 3px #ccc;
    -webkit-box-shadow:0 0 3px #ccc}
.block .block_content .imglist li
img{position:absolute;
    z-index:1;
    width:100px;
    height:100px}
.block .block_content .imglist li
ul{position:absolute;
    z-index:10;
    background:url(/static/img/imgo.gif) center no-repeat;
    width:62px;
    height:58px;
    left:19px;
    top:21px;
    display:none}
.block .block_content .imglist li:hover
ul{display:block}
.block .block_content .imglist li ul
li{display:block;
    width:62px;
    height:29px;
    text-align:center;
    margin:0;
    padding:0;
    border:0;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none}
.block .block_content .imglist li ul li
a{display:block;
    color:#fff;
    text-transform:uppercase;
    font-size:10px;
    font-weight:bold;
    height:29px;
    line-height:29px;
    text-shadow:0 0 2px #000;
    outline:none}
.block .block_content .imglist li ul li.view a:hover{background:url(/static/img/imgt.gif) bottom center no-repeat}
.block .block_content .imglist li ul li.delete a:hover{background:url(/static/img/imgb.gif) top center no-repeat}
.block .block_content
.breadcrumb{color:#666;
    background:#f9f9f9;
    border-bottom:1px solid #e6e6e6;
    padding:9px
12px;
    line-height:normal;
    margin-bottom:16px;
    font-size:11px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-radius-topleft:5px;
    -moz-border-radius-topright:5px;
    border-top-left-radius:5px;
    border-top-right-radius:5px}
#footer{background:url(/static/img/ft.gif) 0 0 repeat-x;
    padding:20px
9px 50px;
    font-size:10px;
    color:#757575;
    clear:both;
    overflow:hidden}
#footer p a, #footer p a:visited{color:#000;
    text-decoration:underline;
    margin:0
2px}
#footer a:hover{color:#666;
    text-decoration:none}
#footer
.left{float:left}
#footer
.right{float:right;
    text-align:right}
.block_content
h1.masthead{color:black;
    font-family:helvetica,arial,sans-serif;
    font-size:36px;
    font-weight:bold;
    letter-spacing: -2px;
    margin:25px
0}
.block_content
h2.masthead{color:#444;
    font-family:helvetica,arial,sans-serif;
    font-size:21px;
    font-weight:normal;
    letter-spacing:0px;
    margin:10px
0}
#signup
div.masthead{margin:10px
auto 20px;
    padding-top:0px;
    text-align:center;
    width:100%}
#signup div.masthead
h1{color:black;
    font-family:helvetica,arial,sans-serif;
    font-size:46px;
    font-weight:bold;
    letter-spacing: -2px;
    text-align:center;
    margin:40px
0 16px 0}
#signup div.masthead
h2{color:#444;
    font-family:helvetica,arial,sans-serif;
    font-size:21px;
    font-weight:normal;
    letter-spacing:0px;
    margin:20px
0}
#signup
div.jacket{margin:0px
auto;
    width:750px}
#signup div.jacket
input{margin-top:10px}
#signup div.no-r{border-right:0px}
#signup
div.short{background-color:#f0f0f0;
    border:1px
solid #999;
    float:left;
    height:270px;
    margin-top:20px;
    padding:18px
10px 10px;
    text-align:center;
    width:220px}
#signup div.short
h1{font-size:32px;
    margin:10px
0 14px;
    padding:0px;
    font-weight:bold;
    letter-spacing: -1px}
#signup div.short h1,
#signup div.short h1 a,
#signup div.short
h2{color:#333;
    text-decoration:none}
#signup div.short
h2{font-size:20px;
    font-weight:normal;
    margin:19px
0px 5px;
    padding:0px;
    font-family:helvetica,arial,sans-serif}
#signup div.short
h3{border-bottom:1px solid #CCC;
    color:#4075a2;
    font-family:helvetica,arial,sans-serif;
    font-size:14px;
    font-weight:bold;
    margin:0px
0px 20px;
    padding:3px
0px 10px;
    text-transform:uppercase}
#signup div.tall ul,
#signup div.short
ul{list-style:none;
    margin:0px
0px 10px;
    padding:0px}
#signup div.tall ul.highlight li,
#signup div.short ul.highlight
li{font-size:20px;
    line-height:1em;
    list-style:none;
    margin:0
0 3px;
    padding:0;
    background:none;
    letter-spacing: -1px}
#signup div.short li,
#signup div.tall
li{color:#364f68;
    font-size:14px;
    background:none;
    margin:0;
    padding:0}
#signup div.tall li
strong{color:#f57500}
#signup div.short li
strong{color:#e67309}
#signup div.r-shadow{background-image:url(/static/img/shadow-right.png);
    background-position:100% 50%;
    background-repeat:no-repeat}
#signup div.l-shadow{background-image:url(/static/img/shadow-left.png);
    background-repeat:no-repeat}
#signup div.no-r{border-right:0px;
    -moz-border-radius-bottomleft:5px;
    border-bottom-left-radius:5px;
    -moz-border-radius-topleft:5px;
    border-top-left-radius:5px}
#signup div.no-l{border-left:0px;
    -moz-border-radius-bottomright:5px;
    border-bottom-right-radius:5px;
    -moz-border-radius-topright:5px;
    border-top-right-radius:5px}
#signup
div.tall{background-color:#e5eef7;
    border:5px
solid #3671A1;
    -moz-border-radius:5px;
    border-radius:5px;
    float:left;
    height:305px;
    padding:24px
10px 10px;
    text-align:center;
    width:235px}
#signup div.tall h1,
#signup div.tall h1
a{color:black;
    font-size:44px;
    line-height:1em;
    padding:0px;
    margin:0
0 14px;
    font-weight:bold;
    text-decoration:none;
    letter-spacing: -2px}
#signup div.tall h1 a:hover{color:#ec8526}
#signup div.tall
h2{color:black;
    font-size:24px;
    font-weight:normal;
    margin:0px
0px 5px;
    padding:0px;
    letter-spacing:none;
    font-family:helvetica,arial,sans-serif}
#signup div.tall
h3{border-bottom:1px solid #CCC;
    color:#246396;
    font-size:16px;
    font-weight:bold;
    margin:0px
0px 20px;
    padding:7px
0px 10px;
    text-transform:uppercase;
    font-family:helvetica,arial,sans-serif}
#signup div.tall
li{font-size:16px}
#signup div.tall
img{margin:1px
0px 4px}
#signup div.tall
ul.highlight{margin-bottom:20px}
#signup div.tall ul.highlight
li{font-size:24px;
    margin-bottom:5px;
    line-height:1em;
    list-style:none;
    letter-spacing: -1px}
#signup div.tall
small{color:#C33700;
    font-size:12px}
dl{font-size:1.2em;
    line-height:170%;
    margin-bottom:20px}
dl,dt,dd{padding:0;
    margin:0}
.faqs{padding-top:20px}
.faqs
dt{font-weight:bold;
    background:url(/static/img/q.gif) 0 4px no-repeat;
    padding:3px
0 15px 30px;
    position:relative}
.faqs dt:hover{cursor:pointer}
.faqs
dd{background:url(/static/img/a.gif) 0 2px no-repeat;
    padding:0
30px 30px;
    position:relative;
    color:#333}
.faqs
.hover{color:#008ee8;
    text-decoration:underline}
.block .report_table
td{padding-left:25px}
.block .signup_table
td{padding:15px
5px}
.block .signup_table
th{text-align:right}
.block .signup_table th.headrow, tr.headrow
th{text-align:left;
    background-color:#f2f2f2}
.block .signup_table th.headrow
h2{padding-left:10px;
    margin:6px
0}
.block .signup_table td label, .block .signup_table
.note{font-weight:normal}
#filter_content{background-color:#f5f5f5;
    padding:16px;
    border:1px
solid #CCC;
    margin:15px
0 30px}
#filter_table
td{border:none}
.block
.visualize{border:1px
solid #bbb;
    position:relative;
    background:#fbfbfb;
    margin:20px
auto 40px auto}
.block .visualize
canvas{position:absolute}
.block .visualize ul, .block .visualize ul
li{margin:0;
    padding:0;
    background:none}
.block .visualize .visualize-info{padding:0
0 2px 8px;
    background:#fafafa;
    border:1px
solid #aaa;
    position:absolute;
    top: -15px;
    right:10px;
    font-size:11px}
.block .visualize .visualize-title{display:block;
    color:#333;
    margin-bottom:3px}
.block .visualize ul.visualize-key{list-style:none}
.block .visualize ul.visualize-key
li{list-style:none;
    float:left;
    margin-right:10px;
    padding-left:10px;
    position:relative}
.block .visualize ul.visualize-key .visualize-key-color{width:6px;
    height:6px;
    left:0;
    position:absolute;
    top:50%;
    margin-top: -3px;
    font-size:6px}
.block .visualize ul.visualize-key .visualize-key-label{color:#333}
.block .visualize-pie .visualize-labels{list-style:none}
.block .visualize-pie .visualize-label-pos, .visualize-pie .visualize-label{position:absolute;
    margin:0;
    padding:0}
.block .visualize-pie .visualize-label{display:block;
    color:#fff;
    font-weight:bold;
    font-size:1em}
.block .visualize-pie-outside .visualize-label{color:#000;
    font-weight:normal}
.block .visualize-labels-x,.visualize-labels-y{position:absolute;
    left:0;
    top:0;
    list-style:none}
.block .visualize-labels-x li, .visualize-labels-y
li{position:absolute;
    bottom:0}
.block .visualize-labels-x li span.label, .visualize-labels-y li
span.label{position:absolute;
    color:#555}
.block .visualize-labels-x li span.line, .visualize-labels-y li
span.line{position:absolute;
    border:0
solid #ccc}
.block .visualize-labels-x
li{height:100%;
    font-size:10px}
.block .visualize-labels-x li
span.label{top:100%;
    margin-top:5px}
.block .visualize-labels-x li
span.line{border-left-width:1px;
    height:100%;
    display:block}
.block .visualize-labels-x li
span.line{border:0}
.block .visualize-labels-y
li{width:100%;
    font-size:11px;
    line-height:normal}
.block .visualize-labels-y li
span.label{right:100%;
    margin-right:5px;
    display:block;
    width:100px;
    text-align:right}
.block .visualize-labels-y li
span.line{border-top-width:1px;
    width:100%;
    red}
.block .visualize-bar .visualize-labels-x li
span.label{width:100%;
    text-align:center}
.date_selector, .date_selector
*{width:auto;
    height:auto;
    border:none;
    background:none;
    margin:0;
    padding:0;
    text-align:left;
    text-decoration:none}
.date_selector{background:#fbfbfb;
    border:1px
solid #ccc;
    padding:10px;
    margin:0;
    margin-top: -1px;
    position:absolute;
    z-index:100000;
    display:none;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    box-shadow:0 0 5px #aaa;
    -moz-box-shadow:0 0 5px #aaa;
    -webkit-box-shadow:0 0 5px #aaa}
.date_selector_ieframe{position:absolute;
    z-index:99999;
    display:none}
.date_selector
.nav{width:17.5em}
.date_selector .nav
p{clear:none}
.date_selector .month_nav, .date_selector
.year_nav{margin:0
0 3px 0;
    padding:0;
    display:block;
    position:relative;
    text-align:center}
.date_selector
.month_nav{float:left;
    width:55%}
.date_selector
.year_nav{float:right;
    width:42%;
    margin-right: -8px}
.date_selector .month_name, .date_selector
.year_name{font-weight:bold;
    line-height:20px}
.date_selector
.button{display:block;
    position:absolute;
    top:0;
    width:18px;
    height:18px;
    line-height:16px;
    font-weight:bold;
    color:#008ee8;
    text-align:center;
    font-size:12px;
    overflow:hidden;
    border:1px
solid #ccc;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px}
.date_selector .button:hover, .date_selector
.button.hover{background:#ed9c35;
    color:#fff;
    cursor:pointer;
    border-color:#d77011}
.date_selector
.prev{left:0}
.date_selector
.next{right:0}
.date_selector
table{border-spacing:0;
    border-collapse:collapse;
    clear:both;
    margin:0}
.date_selector th, .date_selector
td{width:2.5em;
    height:2em;
    padding:0
!important;
    text-align:center !important;
    color:#666;
    font-weight:normal}
.date_selector
th{font-size:11px}
.date_selector
td{border:1px
solid #ccc;
    line-height:2em;
    text-align:center;
    white-space:nowrap;
    color:#008ee8;
    background:#fff}
.date_selector
td.today{background:#eee}
.date_selector
td.unselected_month{color:#ccc}
.date_selector
td.selectable_day{cursor:pointer}
.date_selector
td.selected{background:#008ee8;
    color:#fff;
    font-weight:bold}
.date_selector td.selectable_day:hover, .date_selector
td.selectable_day.hover{background:#ec8526;
    color:#fff}
#contactable{background-image:url(/static/img/contact.png);
    color:#FFF;
    background-color:#333;
    cursor:pointer;
    height:102px;
    left:0;
    margin-left:-5px;
    *margin-left:-5px;
    overflow:hidden;
    position:fixed;
    *position:absolute;
    text-indent:-100000px;
    top:102px;
    *margin-top:10px;
    width:44px;
    z-index:100000}
#contactForm{background-color:#333;
    border:2px
solid #FFF;
    color:#FFF;
    height:450px;
    left:0;
    margin-left:-400px;
    *margin-left:-434px;
    margin-top:-160px;
    overflow:hidden;
    padding-left:30px;
    position:fixed;
    top:200px;
    width:360px;
    *width:394px;
    z-index:99}
form#contactForm input,textarea{background:#FFF none repeat scroll 0 0;
    outline-style:none;
    outline-width:medium;
    width:325px;
    padding:5px;
    border:1px
solid #dfdfdf;
    font-family:georgia;
    font-size:1em;
    margin-bottom:10px}
form#contactForm
.submit{background:#F5410F none repeat scroll 0 0;
    outline-style:none;
    outline-width:medium;
    width:325px;
    padding:5px;
    border:3px
solid #F52D0F;
    outline-color:-moz-use-text-color;
    font-family:georgia;
    font-size:1em;
    cursor:pointer;
    color:#FFF;
    text-transform:uppercase;
    font-weight:bolder;
    font-family:Helvetica;
    margin-top:10px}
form#contactForm
p{width:325px;
    font-size:0.9em}
form#contactForm
.disclaimer{*margin-left:20px}
#contactForm
.red{color:#F5410F}
#overlay{background-color:#666;
    display:none;
    height:100%;
    left:0;
    margin:0;
    padding:0;
    position:absolute;
    top:0;
    width:100%;
    z-index:0}
#contactForm
.error{background-color:#fd9595}
#contactForm
#name.error{background-color:#fd9595}
#contactForm
#email.error{background-color:#fd9595}
#contactForm
#comment.error{background-color:#fd9595}
form#contactForm
label{*margin-left:20px}
form#contactForm
#loading{background:url(/static/img/ajax-loader.gif) no-repeat;
    width:55px;
    height:55px;
    margin:100px
auto;
    display:none}
#callback{font-family:georgia;
    font-size:1.1em;
    color:#FFF;
    width:325px;
    margin:100px
auto;
    display:none}
.holder{margin:0
auto;
    *margin-left:20px;
    padding-top:20px}
#contactable{background-image:url(/static/img/contact.png);
    color:#FFF;
    background-color:#333;
    cursor:pointer;
    height:102px;
    left:0;
    margin-left:-5px;
    *margin-left:-5px;
    overflow:hidden;
    position:fixed;
    *position:absolute;
    text-indent:-100000px;
    top:102px;
    *margin-top:10px;
    width:44px;
    z-index:100000}
#contactForm{background-color:#333;
    border:2px
solid #FFF;
    color:#FFF;
    height:450px;
    left:0;
    margin-left:-400px;
    *margin-left:-434px;
    margin-top:-160px;
    overflow:hidden;
    padding-left:30px;
    position:fixed;
    top:200px;
    width:360px;
    *width:394px;
    z-index:99}
form#contactForm input,textarea{background:#FFF none repeat scroll 0 0;
    outline-style:none;
    outline-width:medium;
    width:325px;
    padding:5px;
    border:1px
solid #dfdfdf;
    font-family:georgia;
    font-size:1em;
    margin-bottom:10px}
form#contactForm
.submit{background:#F5410F none repeat scroll 0 0;
    outline-style:none;
    outline-width:medium;
    width:325px;
    padding:5px;
    border:3px
solid #F52D0F;
    outline-color:-moz-use-text-color;
    font-family:georgia;
    font-size:1em;
    cursor:pointer;
    color:#FFF;
    text-transform:uppercase;
    font-weight:bolder;
    font-family:Helvetica;
    margin-top:10px}
form#contactForm
p{width:325px;
    font-size:0.9em}
form#contactForm
.disclaimer{*margin-left:20px}
#contactForm
.red{color:#F5410F}
#overlay{background-color:#666;
    display:none;
    height:100%;
    left:0;
    margin:0;
    padding:0;
    position:absolute;
    top:0;
    width:100%;
    z-index:0}
#contactForm
.error{background-color:#fd9595}
#contactForm
#name.error{background-color:#fd9595}
#contactForm
#email.error{background-color:#fd9595}
#contactForm
#comment.error{background-color:#fd9595}
form#contactForm
label{*margin-left:20px}
form#contactForm
#loading{background:url(/static/img/ajax-loader.gif) no-repeat;
    width:55px;
    height:55px;
    margin:100px
auto;
    display:none}
#callback{font-family:georgia;
    font-size:1.1em;
    color:#FFF;
    width:325px;
    margin:100px
auto;
    display:none}
.holder{margin:0
auto;
    *margin-left:20px;
    padding-top:20px}
#keyword_list tr th, #keyword_list tr
td{text-align:center;
    margin-left:auto;
    margin-right:auto;
    vertical-align:middle}
#keyword_list
.left{text-align:left}
#keyword_list
.right{text-align:right}
#keyword_list .edit
input{padding:0;
    margin:0}
#keyword_list
.edit{text-align:center;
    padding:1px;
    margin:0;
    vertical-align:middle}
#keyword_list .edit button, #keyword_list .edit_kw
button{overflow:visible;
    font-family:"Lucida Grande",Tahoma,Arial,Verdana,sans-serif;
    font-size:90%;
    line-height:130%;
    padding:1px;
    border:solid 1px #CCC;
    margin:0
0 0 2px;
    width:20px}
#keyword_list .edit button[type], #keyword_list .edit_kw button[type]{padding:0px;
    line-height:16px}
*:first-child+html button[type]{padding:1px}
.keyword_edit{width:50px;
    display:inline;
    padding:0;
    margin:0}
.disabled{color:#afafaf}
#url_list tr
td{font-size:11px}
.del_img
a{height:10px;
    width:10px}
.del_img{height:10px;
    width:10px;
    background:url("/static/img/delete.png") no-repeat}
.del_img:hover{height:10px;
    width:10px;
    background:url("/static/img/delete2.png") no-repeat}
#article_text,#article_title{font-size:12px}
table.calendar{border-left:1px solid #999}
tr.calendar-row{}
td.calendar-day{min-height:80px;
    font-size:19px;
    position:relative;
    text-align:center}
* html div.calendar-day{height:80px}
td.calendar-day:hover{background:#eceff5}
td.calendar-day-np{background:#eee;
    min-height:80px}
* html div.calendar-day-np{height:80px}
td.calendar-day-head{background:#ccc;
    font-weight:bold;
    text-align:center;
    width:120px;
    padding:5px;
    border-bottom:1px solid #999;
    border-top:1px solid #999;
    border-right:1px solid #999}
div.day-number{background:#999;
    font-size:11px;
    padding:5px;
    color:#fff;
    font-weight:bold;
    float:right;
    margin:-5px -5px 0 0;
    width:20px;
    text-align:center}
td.calendar-day,td.calendar-day-np{width:120px;
    padding:5px;
    border-bottom:1px solid #999;
    border-right:1px solid #999}
td.calendar-day
p{text-align:center;
    height:36px;
    vertical-align:middle;
    padding-top:25px}
td.today{background:#ccc}
.dataTable tr.alt
td{background:#eceff5}
.dataTable tr.over
td{background:#ecf6fc}
.block .block_content
.priority{font-size:10px;
    line-height:2.2em;
    list-style:none;
    padding:0;
    margin:0;
    white-space:nowrap}
.block .block_content .priority
li{display:inline-block;
    background:#39c;
    -moz-border-radius:0.3em;
    -webkit-border-radius:0.3em;
    line-height:1.2em;
    border-radius:0.3em;
    padding:0.2em 0.4em;
    font-weight:bold;
    color:white;
    text-transform:uppercase;
    white-space:nowrap;
    list-style:none;
    margin:0
0 0 1px;
    vertical-align:baseline}
.block .block_content .ie7 .priority
li{display:inline;
    margin-right:0.3em;
    background:#39c}
.block .block_content .priority li.orange-keyword{background-color:#c90}
.block .block_content .priority li.purple-keyword{background-color:#c06}
.block .block_content .priority li.green-keyword{background-color:#090}
.block .block_content .priority li.gray-keyword{background-color:#828282}
.block .block_content .priority li.delete-keyword{background-color:#000}
.block .block_content .priority li
a{margin: -0.4em -0.5em;
    padding:0.4em 0.5em;
    color:white}
.block .block_content .priority li
img{margin-bottom: -4px}
.block .block_content .ie7 .priority li
img{margin-bottom:0;
    vertical-align:middle}
.block .block_content .table tbody th .priority, .table tbody td
.priority{margin: -0.3em -0.2em}
.block .block_content .priority
li.none{padding:0;
    margin:0;
    background:none}
.ui-spinner{width:15em;
    display:block;
    position:relative;
    overflow:hidden;
    padding:0}
.ui-spinner-disabled{background:#F4F4F4;
    color:#CCC}
.ui-spinner-box{width:90%;
    height:100%;
    float:left;
    font-size:125%;
    border:none;
    background:none;
    padding:0}
.ui-spinner-up,.ui-spinner-down{width:10%;
    height:50%;
    font-size:0.5em;
    padding:0;
    margin:0;
    z-index:100;
    text-align:center;
    vertical-align:middle;
    position:absolute;
    right:0;
    cursor:default;
    border:1px
solid #999}
.ui-spinner-down{bottom:0}
.ui-spinner-pressed{background:#FEFEFE}
.ui-spinner-list,.ui-spinner-listitem{margin:0;
    padding:0}
ul #rewriteForm, ul #rewriteForm
li{margin:0;
    padding:0}
ul #rewriteForm
li{list-style:none}
.testimonials{width:100%;
    float:left;
    margin:15px
20px 0 45px}
.left-quote{float:left;
    background:url(/static/img/quote-left.jpg) no-repeat top;
    width:68px;
    height:77px}
.testi-text{color:#444;
    float:left;
    text-align:justify;
    width:670px;
    padding:19px
75px 10px 10px;
    background:url(/static/img/quote-right.jpg) no-repeat right bottom}
.testi-pic{float:left;
    width:64px;
    height:64px;
    margin-left:80px;
    display:inline}
.testi-name{float:left;
    padding:10px
0 0 0}

