#filterbar{
    float:right;
    width:100px;
}
#filter-form input{
    width:85%;
}
#content-main{
    width:850px;
    float:left;
}
#changelist-filter li {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}
#changelist-filter a {
    color: #999999;
}
#changelist-filter li.selected a {
    color: #5B80B2 !important;
}
.block_content {
    background: none repeat scroll 0 0 #FFFFFF;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    overflow: hidden;
    padding: 10px 20px;
}
