#filterbar{
    float:right;
    width:100px;
}
#filter-form input{
    width:85%;
}
#content-main{
    width:850px;
    float:left;
}
#changelist-filter {
    width:100px;
    float:right;
}
#changelist-filter li {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}
#changelist-filter a {
    color: #999999;
}
#changelist-filter li.selected a {
    color: #5B80B2 !important;
}
.block_content {
    background: none repeat scroll 0 0 #FFFFFF;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    overflow: hidden;
    padding: 10px 20px;
}
.table-header{font-family:"Titillium999","Trebuchet MS",Arial,sans-serif;
    font-size:18px;
    font-weight:normal;
    text-transform:uppercase;
    color:#555;
    text-shadow:1px 1px 0 #fff;
    float:left}
form.search_form{
    vertical-align:middle;
}
li.action-counter{
    color:black !important;
    background:none !important;
}
.button{
    background: none repeat scroll 0 0 #3399CC;
    border-radius: 0.3em 0.3em 0.3em 0.3em !important;
    color: white !important;
    display: inline-block !important;
    font-weight: bold !important;
    margin: 0 0 0 1px !important;
    padding: 0.2em 0.4em !important;
    text-transform: uppercase !important;
    vertical-align: baseline !important;
    white-space: nowrap !important;
    cursor:pointer;
}
ul.errorlist li{
    color:red !important;
}
.non-header{
    font-family: "Lucida Grande",Verdana,sans-serif;
    font-size: 12px;
}
.message.warning,.message2.warning{border:1px
solid red;
    background:#EF9C9C url(/static/img/warning.gif) 20px 18px no-repeat;
    color:#666}
.message3.error{border:1px
solid red;
    background:#EF9C9C url(/static/img/warning.gif) 12px 10px no-repeat;
    color:#666}
