<!doctype html>
<html lang="en">
<head>

  <meta charset="utf-8">
  
  <title>{% block title %}{% endblock title %} | Support Center</title>
  
  <link rel="stylesheet" href="{{ STATIC_URL }}knowledge/css/reset.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}knowledge/css/main.css">

  <!--  Added to make feedback tab work-->
  <link rel="stylesheet" href="{{ STATIC_URL }}knowledge/css/srt.css">
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}knowledge/js/jquery.srt.js"></script>
  <!--End of stuff added to make feedback tab work-->
  
</head>

<body>

<div class="wrapper">
  
  {% block knowledge_inner %}
  {% endblock knowledge_inner %}

</div>
</body>
</html>
