<form action="{% url question_add %}" method="post">{% csrf_token %}
    {{ form.non_field_errors }}
    <div class="fieldWrapper">
        {{ form.title.errors }}
        <label for="id_title">Email title:</label>
        {{ form.subject }}
    </div>
    <div class="fieldWrapper">
        {{ form.message.errors }}
        <label for="id_message">Your message:</label>
        {{ form.message }}
    </div>
    <div class="fieldWrapper">
        {{ form.sender.errors }}
        <label for="id_sender">Your email address:</label>
        {{ form.sender }}
    </div>
    <div class="fieldWrapper">
        {{ form.cc_myself.errors }}
        <label for="id_cc_myself">CC yourself?</label>
        {{ form.cc_myself }}
    </div>
    <p><input type="submit" value="Send message" /></p>
<input type="submit" value="Submit" />
</form>




<script>
    function getScreenshot(){
        $('#problem-screenshot').html('<img id="problem-screenshot-image" src="http://tantramarinteractive.com/news/2008/cldg_screenshot.jpg"/>');
    }
    $("#mycheckboxid").click(function() {
        alert('Testing');
    });
</script>
<div id="feedback-form" >
    <form action="{% url question_add %}" method="post">{% csrf_token %}
        {{ form.non_field_errors }}
        <div id="tabs" style="float:left; width: 90%;">
            <ul>
                <li><a href="#tabs-1">Report a Problem</a></li>
                <li><a href="#tabs-2">Make a Suggestion</a></li>
            </ul>
            <div id="tabs-1">
                <div id="problem-details" style="float:left;">
                    {{questionform}}
                    {% if form.name %}
                            <div class="fieldWrapper">
                            {{ form.name.errors }}
                            <label for="id_name">Name:</label>
                            {{ form.name }}
                        </div>
                    {% endif %}
                    {% if form.email %}
                            <div class="fieldWrapper">
                            {{ form.email.errors }}
                            <label for="id_email">Email:</label>
                            {{ form.email }}
                        </div>
                    {% endif %}
                    {% if form.title %}
                            <div class="fieldWrapper">
                            {{ form.title.errors }}
                            <label for="id_title">Title:</label>
                            {{ form.title }}
                        </div>
                    {% endif %}
                    {% if form.description %}
                            <div class="fieldWrapper">
                            {{ form.description.errors }}
                            <label for="id_description">Describe the Issue:</label>
                            {{ form.description }}
                        </div>
                    {% endif %}
                    <input type="checkbox" name="screenshot-checkbox" onclick="getScreenshot();">Include a Screenshot
                    <div id="problem-similar-results">
                        <!-- This space is here to show other results that are similar to problem typed above -->
                    </div> <!--"problem-similar-results"-->
                </div><!-- id="problem-details" -->
                <div id="problem-screenshot" style="float:right;">
                    <!-- This space is here for javascript to place the screenshot if and when it is generated -->
                </div><!-- id="problem-screenshot" -->
                <div style="clear:both;"></div>
                <button> Submit</button><button>Cancel</button>
            </div><!-- id=id="tabs-1" -->
            <div id="tabs-2">
                <div id="suggestion-details" style="float:left;">
                    <label>Email:</label><input value="" name="email"><br/>
                    <label>Describe the suggestion:</label><textarea name="description"></textarea><br/>
                    <div id="suggestion-similar-results">
                        <!-- This space is here to show other results that are similar to problem typed above -->
                    </div> <!--"suggestion-similar-results"-->
                </div><!-- id="suggestion-details" -->
                <div style="clear:both;"></div>
                <button> Submit</button><button>Cancel</button>
            </div> <!-- id="tabs-2" -->
        </div> <!-- id="tabs" -->
    </form>
</div> <!-- id="feedback-form" -->
