<ul id="messages" class="messages">
  {% block messages %}{% endblock %}
  {% for message in messages %}
    <li id="message-{{message.id}}" class="message {% if message.tags %}alert-{{ message.tags }}{% endif %} alert">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{ message }}
    </li>
  {% endfor %}
  {% if form.errors %}
    <div class="message alert alert-error">
      <button type="button" class="close" data-dismiss="alert">×</button>
      {% for error in form.non_field_errors %}
        <li>{{error|striptags}}</li>
      {% endfor %}
      {% for field in form %} 
        {% if field.errors %}
        <li>{{ field.label }}: {{ field.errors|striptags }}</li>
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}
</ul>