{% load addparam %}
{% load url from future %}
<ul class="nav nav-list">
  {% if user.mode == 2 %}
    <li class="nav-header"><a href="{% url "article_add" %}" id="new-article-link" title="New Article">New Article</a></li>
  {% endif %}
  <li class="nav-header"><a href="{% url "dashboard" %}">Dashboard</a></li>
  {% for section_label, section in sidebar_links %}
    <li class="nav-header">{{section_label}}</li>
      {% for label, count, always_show in section %}
        {% if count or always_show %}
          <li{% if header = label %} class="active"{% endif %}>
            <a href="{% url label|lower %}">{{label}}<span class="badge pull-right">{{count}}</span></a>
          </li>
        {% endif %}
      {% endfor %}
    </li>
  {% endfor %}
</ul>
