<script type="text/javascript">
    function finishAction(url){
		$.fancybox.close();
		data=$('#actions-form').serialize();
		data+="&user="+$('#id_user').val();
		data+="&tags="+$('#id_tags').val();
		data+="&note="+$('#id_note').val();
		data+="&as_row=True";
        $.ajax({
            url: url ,
            type:'POST',
            data: data, 
            success: ajaxUpdateRow,
        });
		//$.post(url, success=show_stuff, error=showError, data=data);
		//get_stuff(url, data);
    }
    function updateSelectedCounter(actionCheckboxes){
        var sel = $(actionCheckboxes).filter(":checked").length;
        if (sel==0 && $("#action-bar").is(":visible")){
            $("#action-bar").hide();
        } else if (sel>0 && !$("#action-bar").is(":visible")){
            $("#action-bar").show();
        }
		$('#action_counter').html(sel+" of "+ _actions_icnt+" selected");
    }
    function activateCheckboxCounter(){
        var actionCheckboxes=$("tr input.action-select");
        actionCheckboxes.click(function() {
            updateSelectedCounter(actionCheckboxes);
            //if (!$("#action-bar").is(":visible")){
            //    $("#action-bar").show();
            //}
        });
    }
    	$(document).ready(function() {
    	    {% for action in actions %}
    	        {% if action.1 %}
		        $("a#{{action.0}}-link").fancybox();
		      {% else %}
		        $("a#{{action.0}}-link").click(function() {
                  finishAction('{{action.2}}');
                });
		    {% endif %}
		{% endfor %}
        if ($("tr input.action-select").filter(":checked").length==0){
            $("#action-bar").hide();
        }
        activateCheckboxCounter();
        window.codeForRows.push(activateCheckboxCounter);
	});
</script>
<div id="action-details-forms" style="display:none">
    <input type="hidden" value="{{ all_items_count }}" name="all-items-count" id="all-items-count">
    <input type="hidden" value="0" name="select-across" id="select-across">
    {% for action in actions %}
        {% if action.1 %}
        <div id="{{action.0}}-box">
            {{action.1}}
            <a class="button continue-button" onclick="finishAction('{{action.2}}');">Continue</a>
        </div>
        {% endif %}
    {% endfor %}
</div>


