{% load assignment %} 
  {% if user.get_profile.is_requester %} 
    {% assignment_widget "writer" %}
    {% assignment_widget "reviewer" %}
    <li id="delete-button" class="multiaction"><a onclick="showDeleteModal();return false;">Delete</a></li>
  {% elif user.is_writer %}

    <div class="btn-group">
      <button id="writer-claim-button" class="btn btn-small" onclick="doActionOnArticles('{% url claim_articles_as_writer %}');return false;" >Claim</button>
    </div>

    <div class="btn-group">
      <button id="submit-button" class="btn btn-small" onclick="doActionOnArticles('{% url submit_articles %}');return false;" >Submit</button>
    </div>

    <div class="btn-group">
      <button id="writer-release-button" class="btn btn-small" onclick="doActionOnArticles('{% url release_writer %}');return false;" >Release</button>
    </div>

  {% elif user.is_reviewer %}

    <div class="btn-group">
      <button id="reviewer-claim-button" class="btn btn-small" onclick="doActionOnArticles('{% url claim_articles_as_reviewer %}');return false;" >Claim</button>
    </div>

    <div class="btn-group">
      <button id="approve-button" class="btn btn-small" onclick="doActionOnArticles('{% url approve_articles %}');return false;" >Approve</button>
    </div>

    <div class="btn-group">
      <button id="reject-button" class="btn btn-small" onclick="window.article_id=undefined; $('#reject-modal').modal('show');return false;" >Reject</button>
    </div>

    <div class="btn-group">
      <button id="reviewer-release-button" class="btn btn-small" onclick="doActionOnArticles('{% url release_reviewer %}');return false;" >Release</button>
    </div>

  {% endif %}
</span>
