<ul id="list-items">
    {% for message in messages %}
    <li{% if message.tags %} id="message-{{message.id}}" class="message {{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% if as_row %}
<table id="table-rows">
    {% for article in object_list %}
        {% include "articles/article_list_row.html" %}
    {% endfor %}
</table>
{% endif %}
{% if as_form %}
    <table id="table-rows">
        {% for article in object_list %}
            {% include "articles/article_list_row.html" %}
        {% endfor %}
    </table>
{% endif %}
