{% extends 'writeaid_base.html' %}
{% load static %}
{% block head %}
<link href="{% static "css/writersaxis.css" %}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}

<div id="content-main">
    {% with block_header='Available' articles=available %}
    {% include "articles/article_list_block.html" %}
    {% endwith %}
</div>
<div id="searchbar">
<form method="get" action="" id="filter-form">
    <label for="searchbar"><img alt="Search" src="/static/admin/img/icon_searchbox.png"></label>
    <input type="text" id="searchbar" value="{{q}}" name="q" size="40">
    <div id="changelist-filter">
        <h2>Filter</h2>
        {% for filter in filters %}{% include "articles/filter.html"%}{% endfor %}
    </div>
    <input type="submit" value="Search">
</form>
</div>
{% endblock %}
