{% load actions %}
{% load can_do %}
<tr id="article-{{article.id}}" {% if article.deleted %}style="display:none;" {% endif %}class="article" onMouseOver="$('#article-{{article.id}}-actions').show();" onMouseOut="$('#article-{{article.id}}-actions').hide();">
	<td>
		<label class="checkbox" for="check-{{article.id}}"><input type="checkbox" value="" id="check-{{article.id}}" data-toggle="checkbox" onChange="toggleRows($('#article-{{article.id}}'));"></label>
	</td>

	<td class="project-column">{% if article.project %} <a href="{% url article_list %}?project={{article.project.name}}"> {{article.project.name.title}} </a>{% else %}None{% endif %}</td>
	<td class="keywords-column"><a href="{{article.get_absolute_url}}">{{article.keywords}}</a></td>
	<td id="status-{{article.pk}}" class="writer-column">{% if user.in_requester_mode %}{{article.writer_status}}{% else %}{{article|writing_availability:user}}{% endif %}</td>
	<td class="reviewer-column">{% if user.in_requester_mode %}{{article.reviewer_status}}{% else %}{{article|reviewing_availability:user}}{% endif %}</td>
	<td class="status-column">{{article.type}}</td>
	<td class="category-column">{{article.category}}</td>
	<td class="length-column">{{article.length}}</td>
	<td class="priority-column">{{article.priority}}</td>
	<td class="tags-column" id="tag-cell-{{article.pk}}">
    {% for tag in article.tags_as_list %}
    	{% if tag %}
			<a class="badge badge-small btn-tag" href="{% url article_list %}?q={{tag}}" title="Click here to see all articles with this tag">{{tag}}</a>
    	{% endif %}
    {% endfor %}
	</td>
	{% with btn_size='btn-small' %}
		<td>{% show_actions %}</td>
	{% endwith %}
</tr>
