{% extends "articles/base.html" %}
{% load actions %}
{% load project_list %}
{% load can_edit %}
{% block head %}
    <script type="text/javascript" src="{{ STATIC_URL}}js/tiny_mce/jquery.tinymce.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL}}js/ajax.js"></script>
    <script type="text/javascript">
        $('#new-project-form').submit(function() {
          return false;
        });
        function createProject(){
            // data={
            //     name:$('#new_project_name_input'),
            // };
            // jQuery.post({
            //     url:"{% url new_project %}", 
            //     data:{name:$('#new_project_name_input')}, 
            //     success:confirmProjectCreation,
            // });
            $.post('{% url new_project %}', {name: $('#new_project_name_input').val()}, function(data) {
                d=saveDataInCache(data);
                updateMessages(d); 
                result=$('#new-project-name', d).val();
                $('#id_project').val(result);
                $('#new-project-modal').modal('hide');
            });
        }
    </script>
{% endblock %}
{% block navbar %}
  <li><a href="{% url article_add %}">Add Article</a></li>
{% endblock %}
{% block content %}
    <div id="article">
        {{form.errors}}
        <form  action="{{ article.get_absolute_url }}" method="post"> {% csrf_token %}
        {{form.ID}}
        <input type="hidden" name="owner" value="{% if article.owner %}{{article.owner.pk}}{% else %}{{user.pk}}{% endif %}">
        <div class="row-fluid">
            <div class="span10">
                <div class="page-header">
                    <h1>{% if article.pk %} Article: {{article.name}} {% else %} New Article {% endif %}</h1>
                </div>
            </div>
            <div class="span2">
                <div class="btn-group">
                    <a class="btn" href="{% url article_list %}"><i class="icon-chevron-left"></i></a>
                    <a class="btn" href="{% url article_list %}"><i class="icon-chevron-right"></i></a>
                </div>
            </div>
        </div>
        
        <div class="row-fluid">
            <div class="span2 input-label">Writer:</div>
            <div class="span2">{% if article.writer %}{{article.writer.full_name}}{% else %} No writer assigned.{% endif %}</div>
            {% if user == article.owner or user == article.reviewer %}
                <div class="span2 input-label">Reviewer:</div>
                <div class="span2">{% if article.reviewer %}{{article.reviewer.full_name}}{% else %} No reviewer assigned.{% endif %}</div>
            {% endif %}
            {% if user == article.owner or not article.pk %}
                <div class="span2 input-label">Project:</div>
                <div class="span2">
                    <input id="id_project" name="project" type="text" value="{{ article.project }}" data-provide="typeahead" data-source='{% project_list %}'>
                </div>
            {% else %}
                <div class="span2 input-label">Project:</div>
                <div class="span2">{{ article.project }}</div>
            {% endif %}
        </div>
        {% if user == article.owner or not article.pk %}
            <div class="row-fluid">
                <div class="span12"><legend>Properties:</legend></div>
            </div>
            <div class="row-fluid">
                <div class="span2 input-label">Minimum:</div>
                <div class="span2">{{ form.minimum }}</div>
                <div class="span2 input-label">Maximum:</div>
                <div class="span2">{{ form.maximum }}</div>
                <div class="span2 input-label">Type:</div>
                <div class="span2">{{ form.article_type }}</div>
            </div>
            <div class="row-fluid">
                <div class="span2 input-label">Tags:</div>
                <div class="span10">{{form.tags}}</div>
            </div>
            <div class="row-fluid">
                <div class="span2 input-label">Description</div>
                <div class="span10">{{form.description}}</div>
            </div>
            <div class="row-fluid">
                <div class="span2 input-label">Notes to Writer</div>
                <div class="span10">{{form.article_notes}}</div>
            </div>
            <div class="row-fluid">
                <div class="span2 input-label">Notes to Reviewer</div>
                <div class="span10">{{form.review_notes}}</div>
            </div>
            <div class="row-fluid">
                <div class="span12"><legend>Keywords:</legend></div>
            </div>
            <div class="row-fluid">
                {% with inlines.0 as inline %}
                    {% include "articles/edit_article_keywords_form.html" %}
                {% endwith %}
            </div>
            {% if not article.pk %}
                <div class="row-fluid">
                    <div class="span2">Number of Articles</div>
                    <div class="span4">{{form.number_of_articles}}</div>
                </div>
            {% endif %}
        {% else %}
            <div class="row-fluid">
                <div class="span2 input-label">Minimum:</div>
                <div class="span2">{{article.minimum}}</div>
                <div class="span2 input-label">Maximum:</div>
                <div class="span2">{{ article.maximum }}</div>
                <div class="span2 input-label">Type:</div>
                <div class="span2">{{ article.article_type }}</div>
            </div>
            <div class="row-fluid">
                <div class="span2 input-label">Description</div>
                <div class="span10">{{article.description}}</div>
            </div>
            {% if user == article.writer%}
                <div class="row-fluid">
                    <div class="span2 input-label">Notes to Writer</div>
                    <div class="span10">{{article.article_notes}}</div>
                </div>
            {% endif %}
            {% if user == ariticle.reviewer%}
                <div class="row-fluid">
                    <div class="span2 input-label">Notes to Reviewer</div>
                    <div class="span10">{{article.review_notes}}</div>
                </div>
            {% endif %}
        {% endif %}
        <div class="row-fluid">
            <div class="span12">
                {% show_actions %}
                <button class="btn btn-primary" id="save-btn">Save</button>
            </div>
        </div>
        {% if user|can_edit:article %}
            {% include "articles/article_body.html" %}
        {% endif %}
        {% if article.pk %}
            <div class="row-fluid">
                <div class="span12"><legend>Last Action:</legend></div>
            </div>
            <div class="row-fluid">
                <div class="span12">{{article.last_action}}</div>
            </div>
        {% endif %}
    </div>
{% endblock %}
