{% extends "writeaid_base.html" %}

{% block content %}
    <form action="{{ article.get_absolute_url }}" method="post"> {% csrf_token %}
    <div class="block">
        <div class="block_head">
            <div class="bheadl"></div>
            <div class="bheadr"></div>
            <h2>{% if article.pk %} Article: {{article.name}} {% else %} New Article {% endif %}</h2>
        </div>
        <div class="block_content">
            {% include "articles/edit_article_properties_form.html"%}
            {% with inlines.0 as inline %}
                {% include "articles/edit_article_keywords_form.html" %}
            {% endwith %}
            <table class="block_content" width="100%" cellspacing="0" cellpadding="0" border="0" style="border: none; margin:0;">
                <tr>
                    <td colspan="2"><div class="aleft"><input id="add_keyword" type="button" value="Add Keyword" class="submit long"></div></td>
                    <td colspan="2"><div class="aright"><input type="submit" value="Save Article" class="submit long"></div></td>
                </tr>
            </table>
        </div>
        <div class="bendl"></div>
<div class="bendr"></div>
    </div>
{% endblock %}

