{% extends "design/base.html" %}
{% load actions %}
{% load project_list %}
{% load can_do %}
{% load assignment %}
{% load help_icon %}
{% block navbar %}
  <li><a href="{% url article_add %}">Add Article</a></li>
{% endblock %}
{% block header %}{% if article.pk %} Article: {{article.name}} {% else %} New Article {% endif %}{% endblock %}
{% block content %}
  <div id="article">
    <form action="{{ article.get_absolute_url }}" method="post"> {% csrf_token %}
      {{form.ID}}
      <input type="hidden" name="owner" value="{% if article.owner %}{{article.owner.pk}}{% else %}{{user.pk}}{% endif %}">
      {% if user == article.owner and user.mode == 2 or not article.pk %}
          <div class="row input-row">
            <div class="col-md-4">{{ form.project }}</div>
            <div class="col-md-4">{{ form.article_type }}</div>
            <div class="col-md-4">{{ form.category }}</div>
          </div>
          <div class="row input-row">
            <div class="col-md-4">{{ form.priority }}</div>
            <div class="col-md-4">
              <div id="add-details-selector" class="btn-group">
                <a class="btn dropdown-toggle btn-primary btn-small" style="width:100%;" data-toggle="dropdown"><span class="pull-left"> Add Details </span><span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li class="add-details-option" id="date-option"><a tabindex="-1" onclick="showSection('date');">Date Due</a></li>
                  <li class="add-details-option" id="tags-option"><a tabindex="-1" onclick="showSection('tags');">Tags</a></li>
                  <li class="add-details-option" id="purpose-option"><a tabindex="-1" onclick="showSection('purpose');">Purpose</a></li>
                  <li class="add-details-option" id="referrals-option"><a tabindex="-1" onclick="showSection('referrals');">Referral Links</a></li>
                  <li class="add-details-option" id="price-option"><a tabindex="-1" onclick="showSection('price');">Price per Item</a></li>
                  <li class="add-details-option" id="lang-option"><a tabindex="-1" onclick="showSection('lang');">Language</a></li>
                  <li class="add-details-option" id="style-option"><a tabindex="-1" onclick="showSection('style');">Style</a></li>
                </ul>
              </div>
            </div>

            <div class="col-md-4">{{ form.number_of_articles }}</div>
          </div>
          <div class="row input-row" style="display:none;">
            <div id="tags-cell" class="hidden-cell col-md-12" style="display:none;">{{form.tags}}</div>
          </div>
          <div class="row input-row" style="display:none;">
            <div id="referrals-cell" class="col-md-4" style="display:none;">{{form.referrals}}</div>
            <div id="lang-cell" class="hidden-cell col-md-4" style="display:none;">{{form.language}}</div>
            <div id="style-cell" class="hidden-cell col-md-4" style="display:none;">{{form.style}}</div>
          </div>
          <div class="row input-row" style="display:none;">
            <div id="date-cell" class="hidden-cell col-md-4" style="display:none;">{{form.expires}}</div>
            <div id="purpose-cell" class="hidden-cell col-md-4" style="display:none;">{{form.purpose}}</div>
            <div id="price-cell" class="hidden-cell col-md-4" style="display:none;">{{form.price}}</div>
          </div>
          <div class="row input-row" style="display:none;">
            <div class="col-md-8">{{form.description}}</div>
            <div class="col-md-4">{{ form.minimum }}</div>
          </div>
            
          </div>
          <div class="row input-row">
            <div class="col-md-12">
                {% with inlines.0 as inline %}
                    {% include "articles/edit_article_keywords_form.html" %}
                {% endwith %}
            </div>
          </div>
          <div class="row input-row">
            <div class="col-md-12">{{form.article_notes}}</div>
          </div>
          <div class="row input-row">
            <div class="col-md-12">{{form.review_notes}}</div>
          </div>
          

      {% else %}
          <div class="row input-row">
            <div class="col-md-1 input-label">Project:</div>
            <div class="col-md-2">{{ article.project }}</div>

            <div class="col-md-1 input-label">Type:</div>
            <div class="col-md-3">{{ article.article_type }}</div>

            <div class="col-md-1 input-label">Category:</div>
            <div class="col-md-3">{{ article.category }}</div>
          </div>

          <div class="row input-row">
            <div class="col-md-1 input-label">Writer:</div>
            {% if article.writer %}
              <div class="col-md-2">{{ article.writer.full_name }}</div>
            {% else %}
              <div class="col-md-2">None</div>
            {% endif %}

            <div class="col-md-1 input-label">Reviewer:</div>
            {% if article.reviewer %}
              <div class="col-md-2">{{ article.reviewer.full_name }}</div>
            {% else %}
              <div class="col-md-2">None</div>
            {% endif %}

            <div class="col-md-1 input-label">Priority:</div>
            <div class="col-md-2">{{ article.priority }}</div>
          </div>
          <div class="row input-row">
            <div class="col-md-1 input-label">Description</div>
            <div class="col-md-7">{{article.description}}</div>

            <div class="col-md-1 input-label">Length:</div>
            <div class="col-md-3">{{ article.minimum }}</div>
          </div>

          <div class="row input-row">
            {% with inlines.0 as inline %}
              {% include "articles/edit_article_keywords_form.html" %}
            {% endwith %}
          </div>
          {% if user == article.writer and article.article_notes%}
            <div class="row input-row">
              <div class="col-md-1 input-label">Notes to Writer</div>
              <div class="col-md-11">{{article.article_notes}}</div>
            </div>
          {% endif %}
          {% if user == ariticle.reviewer and article.review_notes%}
            <div class="row input-row">
              <div class="col-md-1 input-label">Notes to Reviewer</div>
              <div class="col-md-11">{{article.review_notes}}</div>
            </div>
          {% endif %}
          {% if article.expires or article.tags %}
            <div class="row input-row">
              <div id="date-cell" class="hidden-cell">
                <div class="col-md-2 input-label">Date Due</div>
                <div class="col-md-2">{{article.expires}}</div>
              </div>
              <div id="tags-cell" class="hidden-cell">
                <div class="col-md-2 input-label">Tags</div>
                <div class="col-md-6">{{article.tags}}</div>
              </div>
            </div>
          {% endif %}
          {% if article.purpose or article.referrals or article.price %}
            <div class="row input-row">
              <div id="purpose-cell" class="hidden-cell">
                <div class="col-md-2 input-label">Purpose</div>
                <div class="col-md-2">{{article.purpose}}</div>
              </div>
              <div id="referrals-cell" class="hidden-cell">
                <div class="col-md-2 input-label">Referral Links</div>
                <div class="col-md-2">{{article.referrals}}</div>
              </div>
              <div id="price-cell" class="hidden-cell">
                <div class="col-md-2 input-label">Price per Item</div>
                <div class="col-md-2">{{article.price}}</div>
              </div>
            </div>
          {% endif %}
          {% if article.language or article.style %}
            <div class="row input-row">
              <div id="lang-cell" class="hidden-cell">
                <div class="col-md-2 input-label">Language</div>
                <div class="col-md-2">{{article.language}}</div>
              </div>
              <div id="style-cell" class="hidden-cell">
                <div class="col-md-2 input-label">Style</div>
                <div class="col-md-2">{{article.style}}</div>
              </div>
            </div>
          {% endif %}
      {% endif %}
      <div class="row input-row">
        <div class="col-md-12">
          {% show_edit_page_actions %}
        </div>
      </div>
      {% if article.pk and user|can_edit:article %}
        <div class="row input-row">
          <div class="col-md-12"><legend>Content:</legend></div>
        </div>
        <div class="row input-row">
          <div class="col-md-2">Title</div>
          <div class="col-md-9 long-input">{{form.title}}</div>
        </div>
        <div class="row input-row">
          <div class="col-md-12 well">
            <textarea id="id_body" name="body">
              {{form.instance.body}}
            </textarea>
          </div>
        </div>
      {% endif %}
    </form>
  </div>
  <div id="project-modal" class="modal" style="display:none;">
    <div class="modal-header">
      <button type="button" class="close fui-cross" data-dismiss="modal" aria-hidden="true"></button>
      <h3>Create a New Project</h3>
    </div>

    <div class="modal-body">
      <p>What will your new project be called?</p>
      <form>
        <input id="project-name-input" placeholder="Project Name">
      </form>
    </div>

    <div class="modal-footer">
      <a href="#" id="create-project-btn" onclick="createSimpleRelated('project', '{% url new_project %}');" class="btn btn-primary">Create</a>  
      <a href="#" class="btn" data-dismiss="modal">Cancel</a>
    </div>
  </div>
  <div id="category-modal" class="modal" style="display:none;">
    <div class="modal-header">
      <button type="button" class="close fui-cross" data-dismiss="modal" aria-hidden="true"></button>
      <h3>Create a New Category</h3>
    </div>
    <div class="modal-body">
      <p>What will your new category be called?</p>
      <form>
        <input id="category-name-input" placeholder="Category Name">
      </form>
    </div>

    <div class="modal-footer">
      <a id="create-category-btn" href="#" onclick="createSimpleRelated('category', '{% url new_category %}');" class="btn btn-primary">Create</a>  
      <a href="#" class="btn" data-dismiss="modal">Cancel</a>
    </div>
  </div>
{% endblock %}

{% block js %}
    <script type='text/javascript' src='{{STATIC_URL}}js/thane/ajax.js'></script>
    <script src="{{STATIC_URL}}js/ckeditor/ckeditor.js"></script>
    <script type="text/javascript">
      {% if user = article.owner or not article.pk%}
        function insertKeywordInlineForm(data, result){
            $('#keywords-title-row').after(data);
            runCode();
            numKeywords=parseInt($('#id_keyword_set-TOTAL_FORMS').val());
            $('#id_keyword_set-TOTAL_FORMS').val(numKeywords+1);
        }
        function getKeywordInlineForm() {
          jQuery("#last_id").val("None");
          $.ajax({
            url: "/articles/keyword/new/",
            type:'POST',
            data:{
                num: $('#id_keyword_set-TOTAL_FORMS').val(),
            },
            success: insertKeywordInlineForm
          });
        }
        function hideRow(){
          $(this).closest('tr').slideUp();
        }
        function updateSelection(value, name, label){
          // Set the value on the select
          $("#id_"+name).val(value);
          // Unhighlight the current li
          $("[id^=" + name + "-list-item-].selected").removeClass('selected');
          // Highlight the correct li
          $('#'+name+'-list-item-'+value).addClass('selected');
          // Copy value to element label
          label_element = $('#select-label-'+ name);
          base_label = label_element.html().split(':')[0];
          $('#select-label-'+ name).html(base_label+": "+label);

        }
        function selectOption(e){
          // Get info
          target=$(e.currentTarget);
          value = target.attr('rel');
          name = target.attr('name');
          label = target.attr('data-label');
          updateSelection(value, name, label);
        }
        function updateProjectList(data){
          d=saveDataInCache(data);
          updateMessages(d);
          // Fetch elements from data
          option=$('option', d);
          item=$('.select-list-item', d);
          // Add to lists
          $('#id_project').append(option);
          $('#project-dropdown-menu').append(item);
          // Run code to "activate" new elements
          runCode();
          // Update Selection
          updateSelection(option.val(), 'project', item.attr('data-label'));
        }
        function createProject(){
          data="&name="+$('#project-name-input').val();
          jQuery.post('{% url new_project %}', data, success=updateProjectList);
          $('#project-modal').modal('hide');
        }
        function createSimpleRelated(model, url){
          window.model_name=model;
          data="&name="+$('#'+model+'-name-input').val();
          jQuery.post(url, data, success=updateSimpleRelated);
          $('#'+model+'-modal').modal('hide');
        }

        function updateSimpleRelated(data){
          model=window.model_name;
          d=saveDataInCache(data);
          updateMessages(d);
          // Fetch elements from data
          option=$('option', d);
          item=$('.select-list-item', d);
          // Add to lists
          $('#id_'+model).append(option);
          $('#'+model+'-dropdown-menu').append(item);
          // Run code to "activate" new elements
          runCode();
          // Update Selection
          updateSelection(option.val(), model, item.attr('data-label'));
        }

        function prep(){
          $('[name$="DELETE"]').click(hideRow);
          $('.select-list-item').click(selectOption);
          $('input[id$="-DELETE"]').hide();
          $('input[id$="-keyword"]').attr('placeholder', 'Keyword');
          $('input[id$="-url"]').attr('placeholder', 'URL');
        }
        $(document).ready(function($) {
          // $("#add_keyword").click(getKeywordInlineForm);
          window.codeForRows=[prep];
          runCode();
          // $('#create-project-btn').click(createProject);
          
        });
        {% endif %}
        $().ready(function() {
            $( "#id_expires" ).datepicker();
            {% if article.pk and user|can_edit:article %}
                CKEDITOR.replace("id_body", {"filebrowserWindowWidth": 940, "width": 835, "filebrowserWindowHeight": 725, "filebrowserBrowseUrl": "/ckeditor/browse/", "filebrowserUploadUrl": "/ckeditor/upload/", "toolbar": "Full", "height": 291});
            {% endif %} 
            // $('.help').tooltip()
            
        });
        function showSection(section_id){
            $('#'+section_id+'-cell').show();
            $('#'+section_id+'-cell').parent().show();
            $('#'+section_id+'-option').hide();
            if($('.add-details-option:visible').length == 0){$('#add-details-selector').hide();}
        }
        function change_availability(group, value, status){
            $('#id_'+group+"_availability").val(value);
            $('#id_'+group+'-status').html(status);
            $('#id_'+group).val("");
        }
        function make_unavailable(assignment){
            change_availability(assignment, "Nobody", "Unavailable");
        }
        function make_available(assignment){
            change_availability(assignment, "", "Available");
        }
        function make_available_to(assignment, name){
            change_availability(assignment, name, "Available to "+name);
        }
        function assign_user(group, id, name){
            $('#id_'+group).val(id);
            $('#id_'+group+'-status').html("Assigned to "+name);
        }
    </script>
{% endblock %}