<script type="text/javascript">
	$().ready(function() {
		// CKEDITOR.replace( 'editor1' );
		CKEDITOR.replace("id_body", {"filebrowserWindowWidth": 940, "width": 835, "filebrowserWindowHeight": 725, "filebrowserBrowseUrl": "/ckeditor/browse/", "filebrowserUploadUrl": "/ckeditor/upload/", "toolbar": "Full", "height": 291});
	//     //jQuery.fn.stripTags = function() {
 //        //        return this.replaceWith( this.text().replace(/<\/?[^>]+>/gi, '') );
 //        //};
	// 	$('textarea.tinymce').tinymce({
	// 		// Location of TinyMCE script
	// 		script_url : '{{STATIC_URL}}js/tiny_mce/tiny_mce.js',

	// 		// General options
	// 		theme : "advanced",
	// 		plugins : "fullscreen,wordcount,spellchecker",

	// 		// Theme options
	// 		theme_advanced_buttons1 : "save,newdocument,|,bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,styleselect,formatselect,fontselect,fontsizeselect",
	// 		theme_advanced_buttons2 : "cut,copy,paste,pastetext,pasteword,|,search,replace,|,bullist,numlist,|,outdent,indent,blockquote,|,undo,redo,|,link,unlink,anchor,image,cleanup,help,code,|,insertdate,inserttime,preview,|,forecolor,backcolor,|,spellchecker",
	// 		//theme_advanced_buttons3 : "tablecontrols,|,hr,removeformat,visualaid,|,sub,sup,|,charmap,emotions,iespell,media,advhr,|,print,|,ltr,rtl,|,fullscreen",
	// 		//theme_advanced_buttons4 : "insertlayer,moveforward,movebackward,absolute,|,styleprops,|,cite,abbr,acronym,del,ins,attribs,|,visualchars,nonbreaking,template,pagebreak",
	// 		theme_advanced_toolbar_location : "top",
	// 		theme_advanced_toolbar_align : "left",
	// 		theme_advanced_statusbar_location : "bottom",
	// 		theme_advanced_resizing : true,

	// 		// Example content CSS (should be your site CSS)
	// 		//content_css : "css/content.css",

 //    		spellchecker_rpc_url : "{% url spellcheck %}",

	// 		// Drop lists for link/image/media/template dialogs
	// 		template_external_list_url : "lists/template_list.js",
	// 		external_link_list_url : "lists/link_list.js",
	// 		external_image_list_url : "lists/image_list.js",
	// 		media_external_list_url : "lists/media_list.js",

	// 		// Replace values for the template plugin
	// 		template_replace_values : {
	// 			username : "Some User",
	// 			staffid : "991234"
	// 		}//,
	// 		//setup: function(ed) {
 //            //    ed.onKeyUp.add(function(ed, e) {
 //            //        var strip = (tinyMCE.activeEditor.getContent()).replace(/<\/?[^>]+>/gi, '');
 //            //        $('#elm1-word-count').html(strip.split(' ').length);
 //            //    });
 //            //}
	// 	});

	// 	var googie = new GoogieSpell("{{STATIC_URL}}js/googiespell/", "{% url spellcheck %}?lang=");
	// 	googie.decorateTextarea("id_body");
	});
</script>

<div class="row-fluid">
    <div class="span12"><legend>Content:</legend></div>
</div>
<div class="row-fluid">
    <div class="span2">Title</div>
    <div class="span9 long-input">{{form.title}}</div>
</div>
<div class="row-fluid">
	<div class="span12 well">
	    <textarea id="id_body" name="body" rows="15" cols="80" style="width: 80%">
	        {{form.instance.body}}
	    </textarea>
	</div>
</div>
