<li class="dropdown multiaction">
  <a data-toggle="dropdown" id="{{group}}-dropdown" class="dropdown-toggle" href="#">
    <span id="id_{{group}}-status">{{status}} </span> <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li><a id="{{group}}-unavailable-option" onclick="make_unavailable('{{group}}');return false;">Make Unavailable</a></li>
    <li><a id="{{group}}-available-option" onclick="make_available('{{group}}');return false;">Make Available To All</a></li>
    <li class="divider"></li>
    <li class="dropdown-header">Dropdown header</li>
    <li>
      <a href="#">Make Available to</a>
      <ul class="dropdown-submenu">
        {% for contact in available_list %}
          <li><a id="{{group}}-available-to-option" onclick="make_available_to('{{group}}','{{contact}}');return false;">{{contact}}</a></li>
        {% endfor %}
        <!---  This is for Names with checkboxes
          <li>
            <label class="checkbox" for="{{group}}-available-to-option">
              <input type="checkbox" data-toggle="checkbox" id="{{group}}-available-to-option" onclick="make_available_to('{{group}}','{{contact}}');return false;">{{contact}}
            </label>
          </li>
        -->
      </ul>
    </li>

    <li>
      <a href="#">Assign to</a>
      <ul class="dropdown-submenu">
        {% for user in assignee_list %}
          <li><a id="{{group}}-assign-to-option" onclick="assign_user('{{group}}',{{user.pk}},'{{user.full_name}}');return false;">{{user.full_name}}</a></li>
        {% endfor %}
      </ul>
    </li>
  </ul>
  <input id="id_{{group}}" name="{{group}}" type="hidden" value="{{assigned_to|default:""}}">
  <input id="id_{{group}}_availability" name="{{group}}_availability" type="hidden" value="{{available_to}}">
</li>








