<!DOCTYPE html>
<html lang="en">
<head>
  
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

    <title>Writer Axis</title>
    
    <link rel='stylesheet' type='text/css' href='{{STATIC_URL}}css/navstyle.css' />
	<link href="{{STATIC_URL}}css/stylesheets.css" rel="stylesheet" type="text/css" />	
    <script type='text/javascript' src='{{STATIC_URL}}js/ajax.js'></script>
    <script type='text/javascript' src='{{STATIC_URL}}js/plugins/jquery/jquery.min.js'></script>
    <script type='text/javascript' src='{{STATIC_URL}}js/plugins/jquery/jquery-ui.min.js'></script>
	<script type='text/javascript' src='{{STATIC_URL}}js/plugins/jquery/jquery.mousewheel.min.js'></script>
	<script type='text/javascript' src='{{STATIC_URL}}js/plugins/cookie/jquery.cookies.2.2.0.min.js'></script>
    <script type='text/javascript' src='{{STATIC_URL}}js/plugins/bootstrap.min.js'></script>
	<script type='text/javascript' src='{{STATIC_URL}}js/plugins/select2/select2.min.js'></script>
	<script type='text/javascript' src='{{STATIC_URL}}js/plugins/uniform/uniform.js'></script>
	<script type='text/javascript' src='{{STATIC_URL}}js/plugins/qtip/jquery.qtip-1.0.0-rc3.min.js'></script>
	<script type='text/javascript' src='{{STATIC_URL}}js/plugins/dataTables/jquery.dataTables.min.js'></script>
	<script type='text/javascript' src='{{STATIC_URL}}js/cookies.js'></script>
    <script type='text/javascript' src='{{STATIC_URL}}js/actions.js'></script>
	<script type = "text/javascript" src='{{STATIC_URL}}js/checkboxes.js'></script>
	
    <link media="screen" type="text/css" href="{{STATIC_URL}}js/fancybox/jquery.fancybox.css" rel="stylesheet">
    <script type="text/javascript" src="/static/js/fancybox/jquery.fancybox.pack.js"></script>
    {% block js %}{% endblock js %}
    {% block css %}{% endblock css %}
    {% block head %}{% endblock head %}
</head>


<body>    
    <div class="header" style="border-bottom:1px solid #73B6D6;">
            
        <ul class="header_menu">
            <li class="list_icon"><a href="#">&nbsp;</a></li>
        </ul>    
        <div class="logocs"></div>
            <div class="dropdowncs">
                <div class="btn-group open">
                    <a class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-chevron-down icon-white"> </i>
                    </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">Writers</a>
                            </li>
                        </ul>
                </div>
            </div>
         <a href=""> Requesters
            
         </a>
            <a href="">Username</a>
            
    </div>
    
   
        
    
    

   <!--  <div class="menu">                     
       <div class="navdiv" id="Nav">
          <ul class="unstyled">
                <li class="{% if selected_tab == 'dashboard' %}active{% endif%}"><a href="{% url dashboard %}"><i class="icon-nav-dashboard"></i> <span>Dashboard</span></a></li>
            
                <li class="{% if selected_tab == 'articles' %}active{% endif%}"><a href="{% url article_list %}"><i class="icon-nav-receipts"></i> <span>Articles</span></a></li>
                {% if user.get_profile.is_writer %}
                    <li class="{% if selected_tab == 'writers' %}active{% endif%}"><a href="{% url writer_list %}"><i class="icon-nav-contacts"></i> <span>Writers</span></a></li>
                {% endif %}
                {% if user.get_profile.is_requester %}
                    <li class="{% if selected_tab == 'requesters' %}active{% endif%}"><a href="{% url requester_list %}"><i class="icon-nav-contacts"></i> <span>Requesters</span></a></li>
                {% endif %}
                <li class="{% if selected_tab == 'reports' %}active{% endif%}"><a href=""><i class="icon-nav-reports"></i> <span>Reports</span></a></li>
            
                <li class="{% if selected_tab == 'settings' %}active{% endif%}"><a href=""><i class="icon-nav-advanced"></i> <span>Settings</span></a></li>            
          </ul>
        </div>	
	</div> -->
    <div id="sidebar">
        <form class="search_form" action="" method="GET">                 
            <input type="text" placeholder="Search" class="search-query" value="{{q}}" name="q" id="search-input"><a href="#" onclick="$('#search_form').submit();"><i class="icon-remove"></i></a>
        </form>
        <!-- <div class="accordion" id="accordion2">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle collapsed" data-parent="#accordion2" href="#collapseOne"> 
                     Dashboard
                    </a>
                        
                </div>
            </div>
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                        Articles
                    </a>
                </div>
                <div id="collapseTwo" class="accordion-body in collapse">
                    <div class="accordion-inner">
                        All Articles
                    </div>
                    <div class="accordion-inner">
                         Unavailable
                    </div>
                    <div class="accordion-inner">
                         Available
                    </div>
                    <div class="accordion-inner">
                         Assigned
                    </div>
                    <div class="accordion-inner">
                         Claimed
                    </div>
                    <div class="accordion-inner">
                         Submitted
                    </div>
                    <div class="accordion-inner">
                         Approved
                    </div>
                    <div class="accordion-inner">
                         Rejected
                    </div>
                    <div class="accordion-inner">
                         Published
                    </div>
                </div>
            </div>
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                        Writers
                    </a>
                </div>
                <div id="collapseThree" class="accordion-body">
                    <div class="accordion-inner">
                        All Writers
                    </div>
                    <div class="accordion-inner">
                         My Writers
                    </div>
                    <div class="accordion-inner">
                         Unconfirmed Writers
                    </div>
                    <div class="accordion-inner">
                         Other Writers
                    </div>
                </div>
            </div>
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
                        Requesters
                    </a>
                </div>
                <div id="collapseFour" class="accordion-body collapse">
                    <div class="accordion-inner">
                        All Requesters
                    </div>
                    <div class="accordion-inner">
                         My Requesters
                    </div>
                    <div class="accordion-inner">
                         Unconfirmed Requesters
                    </div>
                    <div class="accordion-inner">
                         Other Requesters
                    </div>
                </div>
            </div>
        </div>
    </div> -->
	<!-- {% if user.is_authenticated %}
        <p class="user">Hi <a href="/users/{{user.username}}/{{user.pk}}/">{{user.username}}</a>! <!--(1589/0)--><!--  &nbsp;|&nbsp; <a href="{% url logout %}">Logout</a></p>
    <!-- <!-- {% else %} -->
        <!-- <p class="user">Welcome, guest. <!--(1 --><!-- 589/0)--> <!-- &nbsp;|&nbsp; <a href="{% url login %}">Log in</a>.</p> -->
    <!-- {% endif %}
    <ul id="messages" class="messages">
        {% block messages %}{% endblock %}
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul> --> 
    <div class="content">
        {% block content %}{% endblock %}
	</div> 
    <script type="text/javascript">
	    $(function() {
		    $('#navigation a').stop().animate({'marginLeft':'-15px'},1000);

		    $('#navigation > li').hover(
			    function () {
				    $('a',$(this)).stop().animate({'marginLeft':'-2px'},200);
			    },
			    function () {
				    $('a',$(this)).stop().animate({'marginLeft':'-15px'},200);
			    }
		    );
	    });
    </script>   
    <div id="ajax-data" style="display:none;"></div> 
</body>
</html>
