<script type="text/javascript">
    function insertKeywordInlineForm(data, result){
        $('#keywords-table').append(data);
        numKeywords=parseInt($('#id_keyword_set-TOTAL_FORMS').val());
        $('#id_keyword_set-TOTAL_FORMS').val(numKeywords+1);
    }
    function getKeywordInlineForm() {
        jQuery("#last_id").val("None");
        $.ajax({
            url: "/articles/keyword/new/",
            type:'POST',
            data:{
                num: $('#id_keyword_set-TOTAL_FORMS').val(),
            },
            success: insertKeywordInlineForm
        });
    }
    function hideRow(){
        $(this).closest('tr').slideUp();
    }
    $(document).ready(function($) {
        $("#add_keyword").click(getKeywordInlineForm);
        $('[name$="DELETE"]').click(hideRow);
        $(".popup").fancybox({
            transitionIn : 'elastic',
            transitionOut : 'elastic',
            titleShow : false,
            width : 680,
            height : 375,
            autoDimensions : true,
            /*centerOnScroll : true,*/
            autoScale : false,
            /*'scrolling' : 'no',*/
            'overlayOpacity' : '0.6',
            'overlayColor' : '#000'
        }); 
    });
</script>
{{ inline.management_form }}
<table id="keywords-table" class="block_content" width="100%" cellspacing="0" cellpadding="0" border="0" style="border: none; margin:0;">
    <tr>
        <th><h3>Keyword</h3></th>
        <th><h3>Url</h3></th>
        <th><h3>Times</h3></th>
        <th><h3>Remove</h3></th>
    </tr>
    {% for form in inline %}
        {% include "articles/keyword_inline_form.html" %}
    {% endfor %}
</table>

