{% include "articles/project_form_popup.html" %}
<table class="block_content" width="100%" cellspacing="0" cellpadding="0" border="0" style="border: none; margin:0;">
    <tr>
        <th><h3>Minimum</h3></th>
        <th><h3>Maximum</h3></th>
        <th><h3>Type</h3></th>
        <th><h3>Project <a class="popup" id="new-project-button" href="#project-box" style="vertical-align:middle" ><img width="16" height="16" class="q_tip" title="" style="cursor: pointer;" alt="Add Row" src="/static/img/plus_16x16.gif"></a></h3></th>

    </tr>
    <tr>
        <td>{{ form.minimum }}</td>
        <td>{{ form.maximum }}</td>
        <td>{{ form.article_type }}</td>
        <td id="project_field">{{ form.project }}</td>
    </tr>
</table>
