<div class="block">
    <div class="block_head">
        <div class="bheadl"></div>
        <div class="bheadr"></div>
        <div class="table-header" style="width:90%;">
            {{title}}
            {% if searchbar %}
                <div style="float:right;">
                    <form id="search_form" action="" method="GET">
                        <input type="text" id="searchbar" value="{{q}}" name="q" size="40">
                        <a href="#" onclick="$('#search_form').submit();"><label for="searchbar"><img alt="Search" src="/static/admin/img/icon_searchbox.png"></label></a>
                    </form>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="block_content">
        {% if form_id %}<form id="{{form_id}}" method="{{form_method}}" action="{{form_action}}">{% csrf_token %} {% endif%}
        <table width="100%" cellspacing="0" cellpadding="0" id="{{table_id}}" class="table sortable">
            <thead> 
                <tr>
                    {% if checkboxes %}
                        <th scope="col" class="action-checkbox-column">
                            <div class="text">
                                <span><input type="checkbox" id="action-toggle" style="display: inline-block; "></span>
                            </div>
                            <div class="clear"></div>
                        </th>
                    {% endif %}
                    {% for heading in headings %}
                        <th  class="header">{{heading}}</th>
                    {% endfor %}
                    {% if row_actions %}
                        <th  align="right" style="text-align: right;" class="header">Actions</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for object in object_list %}
                    {% include row_template %}
                {% endfor %}
            </tbody>
        </table>
        {% if form_id %}</form>{% endif%}
    </div>
    <div class="bendl"></div>
    <div class="bendr"></div>
</div>
