<form id="login-form" method="post" action="{% url django.contrib.auth.views.login %}">
	{% csrf_token %}
	<input type="hidden" name="next" value="{{ next }}" />
	<input type="text" style="width: 300px;" value="" class="text small" name="username"id="id_username">
	<input type="password" style="width: 300px;" class="text small" name="password" id="id_password">
	<input id="login-submit" type="submit" style="float: right; margin-right:14px;" value="Login" class="submit mid">
	<div class="aleft smfont">
		<input type="checkbox" style="margin: 0 0 0 5px; vertical-align: text-bottom; " value="1" checked="checked" name="remember_login"> Remember my password?
	</div>
</form>