<tr id="{{row_id}}-{{object.id}}" class="{{row_id}} parent even" style="background-color: rgb(251, 251, 251);">
  <td class="q_desc">{{object.username}}</td>
  <td>{{object.full_name}}</td>
  <td>{% if object.is_confirmed %}Confirmed{% else %}Unconfirmed{% endif%}</td>
  <td align="right" style="text-align: right;">
    <ul align="right" class="priority">
        {% if object.is_confirmable %}<li title="" class="blue-keyword"><a onclick="sendAjaxPost('{% url relationship_confirm  object.relationship.pk %}')">Confirm</a></li> {% endif %}
        <li onclick="confirmDelete('#{{row_id}}-{{object.id}}','{{object.relationship.get_delete_url}}');return false;" class="purple-keyword"><a href="">Remove</a></li>   
    </ul>
  </td>
</tr>
