{% load addparam %}
<form class="navbar-search">
  <div class="input-append">
    <input type="text" class="search-query search-query-rounded" placeholder="Search" id="search-query-1">
    <button type="submit" class="btn" id="search-button"><span class="fui-search"></span></button>
  </div>
</form>

<ul class="nav nav-list">
  <li class="nav-header"><a href="#">Dashboard</a></li>
  <li class="nav-header"><a href="#">Articles</a></li>
  <li class="active"><a href="#">All Articles<span class="nav-counter">??</span></a></li>
  <li><a href="#">Assigned<span class="nav-counter">??</span></a></li>
  <li><a href="#">Available<span class="nav-counter">??</span></a></li>
  <li><a href="#">Unavailable<span class="nav-counter">??</span></a></li>
  <li><a href="#">Submitted<span class="nav-counter">??</span></a></li>
  <li><a href="#">Rejected<span class="nav-counter">??</span></a></li>
  <li><a href="#">Approved<span class="nav-counter">??</span></a></li>
  <li><a href="#">Published<span class="nav-counter">??</span></a></li>
  <li class="nav-header"><a href="#">Writers</a></li>
  <li class="nav-header"><a href="#">Reviewers</a></li>
</ul>