{% load addparam %}
<form class="search_form" action="" method="GET">                 
    <input type="text" placeholder="Search" class="search-query" value="{{q}}" name="q" id="search-input">
    <a href="#" onclick="$('#search_form').submit();">
        <i class="icon-remove"></i>
    </a>
</form>
<div class="accordion" id="accordion">
    <h3><a class="aaccordion-toggle collapsed" data-parent="#aaccordion" href="#collapseOne">Dashboard</a> </h3>
    <div class="group">
        <h3>Articles</h3>
        <div class="aaccordion-body">
            <div class="aaccordion-inner"><a href="{% url article_list %}">All Articles</a></div>
            <div class="aaccordion-inner"><xxxa href="{% url article_list %}">Unavailable</a></div>
            <div class="aaccordion-inner"><a href="{% url article_list %}?status=Released">Available</a></div>
            <div class="aaccordion-inner"><a href="{% url article_list %}?status=Assigned+to+Writer">Assigned</a></div>
            <div class="aaccordion-inner"><xxxa href="{% url article_list %}?status=Assigned+to+Writer">Claimed</a></div>
            <div class="aaccordion-inner"><a href="{% url article_list %}?last_action=Submitted">Submitted</a></div>
            <div class="aaccordion-inner"><a href="{% url article_list %}?last_action=Approved">Approved</a></div>
            <div class="aaccordion-inner"><a href="{% url article_list %}?last_action=Rejected">Rejected</a></div>
            <div class="aaccordion-inner"><a href="{% url article_list %}?status=Published">Published</a></div>
        </div>
    </div>
    <div class="group">
        <h3>Writers</h3>
        <div class="aaccordion-body">
            <div class="aaccordion-inner">All Writers</div>
            <div class="aaccordion-inner">My Writers</div>
            <div class="aaccordion-inner">Unconfirmed Writers</div>
            <div class="aaccordion-inner">Other Writers</div>
        </div>
    </div>
    <div class="group">
        <h3>Requesters</h3>
        <div class="aaccordion-body">
            <div class="aaccordion-inner">All Requesters</div>
            <div class="aaccordion-inner">My Requesters</div>
            <div class="aaccordion-inner">Unconfirmed Requesters</div>
            <div class="aaccordion-inner">Other Requesters</div>
        </div>
    </div>
</div>