{% extends 'articles/base.html' %}
{% block js %}
	<script type='text/javascript' src='{{STATIC_URL}}js/actions.js'></script>
  <script type='text/javascript' src='{{STATIC_URL}}js/ajax.js'></script>
{% endblock js %}
{% block content %}
  <div class="block-fluid table-sorting" style="border:none; ">
	  <table cellpadding="0" cellspacing="0" width="100%" class="table" id="users">
	    <thead>
	      <tr class="table-header-row">
	        <th class="column-header">Full Name</th>
	        <th class="column-header">Status</th>
	        <th class="column-header">Actions</th>
	      </tr>
	    </thead>
	    <tbody>
        {% block user_rows %}
        	
        {% endblock user_rows %}
	    </tbody>
	  </table>
  </div>
{% endblock %}