{% extends 'design/base.html' %}
{% block js %}
  <script type='text/javascript' src='{{STATIC_URL}}js/thane/actions.js'></script>
  <script type='text/javascript' src='{{STATIC_URL}}js/thane/ajax.js'></script>
{% endblock js %}
{% block content %}
  <div class="block-fluid table-sorting" style="border:none; ">
    <table cellpadding="0" cellspacing="0" width="100%" class="table" id="users">
      <thead>
        <tr class="table-header-row">
          <th class="column-header">User</th>
          <th class="column-header">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for object in object_list %}
          {% include row_template_name %}
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}