<tr id="user-{{object.id}}" class="user parent even" style="background-color: rgb(251, 251, 251);{% if object.contact %}display:none;{% endif %}">
  <td>{{object.full_name}}</td>
  <td>
    <div class="btn-group">
        {% if position = 1 %}
          <button class="btn btn-sm btn-primary" onclick="doActionOnUser('{% url create_writer %}', 'requester={{user.id}}&writer={{object.id}}');">
        {% elif position = 2 %}
          <button class="btn btn-sm btn-primary" onclick="doActionOnUser('{% url create_reviewer %}', 'requester={{user.id}}&reviewer={{object.id}}');">
        {% endif %}
        Hire</button>
    </div>
  </td>
</tr>