{% for action in actions %}
  {% if action == "hire_user" %}
    <button class="btn {{btn_size}}" 
    	onclick="doActionOnUser('{% url hire_user %}', {{user.id}}, {% if user_group == 'Writer' %}{{object.id}},undefined{% else %}undefined,{{object.id}}{% endif %},'{{user_group}}');">
    	Hire {{user_group}}</button>
  {% elif action == "remove_user" %}
    <button class="btn {{btn_size}}"
    	onclick="doActionOnUser('{% url reject_user %}', {{user.id}}, {% if user_group == 'Writer' %}{{object.id}},undefined{% else %}undefined,{{object.id}}{% endif %},'{{user_group}}');">
    	Remove {{user_group}}</button>
  {% elif action == "accept_user" %}
    <button class="btn {{btn_size}}"
    	onclick="doActionOnUser('{% url accept_user %}', {{user.id}}, {% if user_group == 'Writer' %}{{object.id}},undefined{% else %}undefined,{{object.id}}{% endif %},'{{user_group}}');">
    	Accept as {{user_group}}</button>
  {% elif action == "reject_user" %}
    <button class="btn {{btn_size}}"
    	onclick="doActionOnUser('{% url reject_user %}', {{user.id}}, {% if user_group == 'Writer' %}{{object.id}},undefined{% else %}undefined,{{object.id}}{% endif %},'{{user_group}}');">
    	Reject as {{user_group}}</button>
  {% elif action == "request_to_write" %}
    <button class="btn {{btn_size}}"
    	onclick="doActionOnUser('{% url apply_user %}', {{object.id}}, {{user.id}}, undefined, '{{user_group}}');">
    	Apply to Write</button>
  {% elif action == "stop_writing" %}
    <button class="btn {{btn_size}}"
    	onclick="doActionOnUser('{% url reject_user %}', {{object.id}}, {{user.id}}, undefined, '{{user_group}}');">
    	Stop Writing</button>
  {% elif action == "accept_writing" %}
    <button class="btn {{btn_size}}"
    	onclick="doActionOnUser('{% url accept_user %}', {{object.id}}, {{user.id}}, undefined, '{{user_group}}');">
    	Agree to Write</button>
  {% elif action == "reject_writing" %}
    <button class="btn {{btn_size}}"
    	onclick="doActionOnUser('{% url reject_user %}', {{object.id}}, {{user.id}}, undefined, '{{user_group}}');">
    	Refuse to Write</button>
  {% elif action == "request_to_review" %}
    <button class="btn {{btn_size}}"
    	onclick="doActionOnUser('{% url apply_user %}', {{object.id}}, undefined, {{user.id}}, '{{user_group}}');">
    	Apply to Review</button>
  {% elif action == "stop_reviewing" %}
    <button class="btn {{btn_size}}"
    	onclick="doActionOnUser('{% url reject_user %}', {{object.id}}, undefined, {{user.id}}, '{{user_group}}');">
    	Stop Review</button>
  {% elif action == "accept_reviewing" %}
    <button class="btn {{btn_size}}"
    	onclick="doActionOnUser('{% url accept_user %}', {{object.id}}, undefined, {{user.id}}, '{{user_group}}');">
    	Agree to Review</button>
  {% elif action == "reject_reviewing" %}
    <button class="btn {{btn_size}}"
    	onclick="doActionOnUser('{% url reject_user %}', {{object.id}}, undefined, {{user.id}}, '{{user_group}}');">
    	Refuse to Review</button>
  {% endif %}
{% endfor %}