{% extends "base.html" %}
{% block content %}
    <script>
        function assignValue(val){
            if (val != $('#id_theme').val()){
                $('img.theme').removeClass('selected');
                $('#id_theme').val(val);
                $('#id_theme_' + val).addClass('selected');
            }        
        }
    </script>
    <div class="wizard-steps">
        <div class="active-step"><a href=""><span>1</span>Name & Theme</a></div>
        <div><a href="{{object.get_edit_url}}"><span>2</span>Edit Elements</a></div>
        <div><a href="{{object.get_share_url}}"><span>3</span>Share!</a></div>
    </div>
    <div class="curved">
        {{form.errrors}}
        <form action="" method="POST">{% csrf_token %}
            <label for="id_name">Choose a name for your new form:</label><br>
            {{form.name}}<br>
            Choose a theme:
            <div class="horizontalScroll">
                {% for theme in themes %}
                    <img id="id_theme_{{theme.pk}}" class="theme" src="{% if theme.image %}{{theme.image.url}}{% else %}{{MEDIA_URL}}forms/images/parasol.jpg{% endif %}" onclick="assignValue($(this).attr('value'));" value="{{theme.id}}" alt="" />
                {% endfor %}
                <input id="id_theme" name="theme" type="hidden" value="{{object.theme_id}}">           
            </div>
            <input class="next" type="submit" value="Save and Continue">
        </form>   
    </div>
{% endblock %}
