<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% load facebook %}
    {% facebook_init %}
        {% block facebook_code %}{% endblock %}
    {% endfacebook %}
    {% block css %}
    {% endblock %}
    {% block js %}
    {% endblock %}
    <title>{% block sitename %} Web Services {% endblock %}{% block title %}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    {% load staticfiles %}
    
    <link href="{% static "css/jquery-ui.min.css" %}" rel="stylesheet" type="text/css" />
    <link href="{% static "css/style.css" %}" rel="stylesheet" type="text/css" />
    <link href="{% static "css/wizard-steps.css" %}" rel="stylesheet" type="text/css" />
    <link href="{% static "css/curved-drop-shadow.css" %}" rel="stylesheet" type="text/css" />
    {% if object.theme %}
    <style>
        {{object.theme.code}}
    </style>
    {% endif %}
    <script src="{{STATIC_URL}}js/jquery.js"></script>
    <script src="{{STATIC_URL}}js/jquery-ui.js"></script>
    {% block head %}{% endblock %}
    <script src="http://connect.facebook.net/en_US/all.js"></script>
    
</head>
<body>
    <div id="container">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% block header %}{% endblock %}
        <div style="clear:both;">
        <div id="left-panel">
            {% block left-panel %}{% endblock %}
        </div>
        <div id="content">
        {% block content %}{% endblock %}
        </div>
        <div id="right-panel">
        {% block right-panel %}{% endblock %}
        </div>
    </div>
    <div id="fb_root"></div>
</body>

{% facebook_load %}
</html>
