{% extends "articles/bare.html" %}

{% block base %}
{% if form.errors %}
	<div class="row">
		<div class="span12">
			<ul id="messages" class="messages">
				<li id="message-bad-username" class="message alert-error alert">
	          <button type="button" class="close" data-dismiss="alert">&times;</button>
	          Your username and password didn't match. Please try again.
	        </li>
		</div>
	</div>
{% endif %}

<form method="post" action="{% url login %}">
	<div class="row-fluid">
		<div class="span6 offset3">
				{% csrf_token %}
				<h2>Log In</h2>
				{{ form.username }}
				{{ form.password }}
		</div>
	</div>
	<div class="row-fluid">
		<div class="span2 offset3">
			<button type="submit" class="btn full-length">
			  Log In
			</button>
		</div>
		<div class="span2">
			<button class="btn full-length">
			  Register
			</button>
		</div>
		<div class="span2">
			<button class="btn full-length">
			  I forgot
			</button>
		</div>
	</div>
</form>
{% endblock %}