{% extends "writeaid_base.html" %}
{% block js %}
<script type="text/javascript">
    $(document).ready(function() {
        $("input").keypress(function(event) {
            if (event.which == 13) {
                event.preventDefault();
                $("#login-form").submit();
            }
        });
     });
</script>
{% endblock %}
{% block content %}

<div class="block">
  <div class="block_head">
    <div class="bheadl"></div>
    <div class="bheadr"></div>
    <h2>Login</h2>
    <ul>
      <li class="nobg">Not registered yet?</li>
      <li><a href="/accounts/signup/">Sign Up</a></li>
    </ul>
  </div>
  <!-- .block_head ends -->
  
  <div class="block_content">
      
    <div align="center">
    
    
        <form id="login-form" method="post" action="{% url django.contrib.auth.views.login %}">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />
                
        <table width="100%" cellspacing="0" cellpadding="0">
            <tbody><tr>
                <th>Username</th>
                <th>Password</th>
                <th>&nbsp;</th>
            </tr>
            <tr style="background-color: rgb(251, 251, 251);">
                <td><input type="text" style="width: 300px;" value="" class="text small" name="username" id="id_username"></td>
                <td><input type="password" style="width: 300px;" class="text small" name="password" id="id_password"></td>
                <td><input id="login-submit" type="submit" style="float: right; margin-right:14px;" value="Login" class="submit mid"></td>
            </tr>
                        <tr>
                <td><div class="aleft smfont"><input type="checkbox" style="margin: 0 0 0 5px; vertical-align: text-bottom; " value="1" checked="checked" name="remember_login"> Remember my password?</div></td>
                <td><div style="margin: 0 0 0 5px;" class="aleft smfont"><a class="popup_box" href="#forgot_password">Lost password?</a></div></td>
                <td valign="top">&nbsp;</td>
            </tr>
                    </tbody></table>
        
        </form>
    
    
    </div>

    </div>		<!-- .block_content ends -->
	<div class="bendl"></div>
	<div class="bendr"></div>
</div>
{% endblock %}
