<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml"><head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<title>Write Aid | Articles</title>


<link href="/favicon.ico" type="image/x-icon" rel="shortcut icon">
<meta content="no-cache" http-equiv="Pragma">
<meta content="-1" http-equiv="Expires">
        
<style media="all" type="text/css">
    @import url("{{STATIC_URL}}css/writeaid.css");
</style>


    <script src="{{STATIC_URL}}js/jquery.js"></script>
    <script src="{{STATIC_URL}}js/jquery-ui.js"></script>
<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=7" /><![endif]-->
<!--[if lt IE 8]><style type="text/css" media="all">@import url("{{STATIC_URL}}css/ie.css");</style><![endif]-->
<!--[if IE]><script type="text/javascript" src="{{STATIC_URL}}js/excanvas.js"></script><![endif]-->
<script src="{{STATIC_URL}}js/jquery.autosize-min.js" type="text/javascript"></script>

<script src="{{STATIC_URL}}js/markitup/jquery.markitup.js" type="text/javascript"></script>
<script src="{{STATIC_URL}}js/markitup/sets/markdown/set.js" type="text/javascript"></script>

<link href="{{STATIC_URL}}js/markitup/skins/simple/style.css" type="text/css" rel="stylesheet">
<link href="{{STATIC_URL}}js/markitup/sets/markdown/style.css" type="text/css" rel="stylesheet">
<link media="screen" type="text/css" href="{{STATIC_URL}}js/fancybox/jquery.fancybox.css" rel="stylesheet">

<script src="{{STATIC_URL}}js/jquery.visualize.js" type="text/javascript"></script>
<script type="text/javascript" src="/static/js/fancybox/jquery.fancybox.pack.js"></script>

{% block head %}{% endblock %}
</head>
<body>
    <div id="hld">
        <div class="wrapper">
        <!-- wrapper begins -->
            <div id="header">
                <div class="hdrl"></div>
                <div class="hdrr"></div>
                <h1><a href="http://www.writeaid.net/">Writer Axis</a></h1>
                
                <ul id="nav">
                    <li class=" "><a href="http://www.writeaid.net/dashboard/">Dashboard</a></li>
                    <li class="active"><a href="http://www.writeaid.net/articles/">Articles</a>
		                <ul> 
			                <li><a href="http://www.writeaid.net/articles/">Available</a></li> 
			                <li><a href="http://www.writeaid.net/submitted/">Submitted</a>
				                <ul> 
					                <li><a href="http://www.writeaid.net/approved/">Approved</a></li> 
                                    <li><a href="http://www.writeaid.net/published/">Published</a></li>
					                <li><a href="http://www.writeaid.net/rejected/">Rejected</a></li> 
				                </ul></li>  
			                <li><a href="http://www.writeaid.net/search/">Search</a></li> 
		                </ul>
                    </li>
                    <li class=" "><a href="http://www.writeaid.net/keywords/">Keywords</a></li>
                    <li><a href="http://www.writeaid.net/writers/">Writers</a>
				                <ul> 
					                <li><a href="http://www.writeaid.net/writers/contact/">Contact</a></li> 
				                </ul></li>
                    <li class="nobg"><a href="http://www.writeaid.net/reports/">Reports</a></li>
                </ul>

                <p class="user">Hi <a href="http://www.writeaid.net/profile/">Anita</a>! <!--(1589/0)--> &nbsp;|&nbsp; <a href="http://www.writeaid.net/logout.php">Logout</a></p>

            </div>
            <!-- #header ends -->
            <!-- content_start mark -->
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% block content %}
            {% endblock %}
            <!-- content_end mark -->

			<p>&nbsp;</p>
			
			<div id="footer">
			
				<p class="left"><a target="_blank" href="http://www.facebook.com/writeaid"><img width="16" border="0" height="16" style="vertical-align: text-top;" alt="Facebook" src="{{STATIC_URL}}img/facebook.png"></a>&nbsp;&nbsp;<a target="_blank" href="https://twitter.com/#!/Write_Aid"><img width="16" border="0" height="16" style="vertical-align: text-top;" alt="Twitter" src="{{STATIC_URL}}img/twitter.png"></a>&nbsp;&nbsp;| <a href="/blog/">Blog</a> | <a href="/affiliates/">Affiliates</a> | <a href="/contact/">Contact</a></p>
				<p class="right">powered by <a href="http://www.writeaid.net">WRITE AID</a></p>
               
				
			</div>
		</div>						<!-- wrapper ends -->
	</div>		<!-- #hld ends -->
</body>
</html>
