<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml"><head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<title>Write Aid | Articles</title>


<link href="/favicon.ico" type="image/x-icon" rel="shortcut icon">
<meta content="no-cache" http-equiv="Pragma">
<meta content="-1" http-equiv="Expires">
        
<style media="all" type="text/css">
    @import url("{{STATIC_URL}}css/writeaid.css");
</style>


<script src="{{STATIC_URL}}js/jquery.js"></script>
<script src="{{STATIC_URL}}js/ajax.js" type="text/javascript"></script>
<link media="screen" type="text/css" href="{{STATIC_URL}}js/fancybox/jquery.fancybox.css" rel="stylesheet">
<script src="{{STATIC_URL}}js/jquery.visualize.js" type="text/javascript"></script>
<script type="text/javascript" src="/static/js/fancybox/jquery.fancybox.pack.js"></script>

{% block head %}{% endblock %}
</head>
<body>
    <div id="hld">
        <div class="wrapper">
        <!-- wrapper begins -->
            <div id="header">
                <div class="hdrl"></div>
                <div class="hdrr"></div>
                <h1><a href="/">Writer Axis</a></h1>
                
                <ul id="nav">
                    <li class=" "><a href="/dashboard/">Dashboard</a></li>
                    <li class=" "><a href="/projects/">Projects</a></li>
                    <li class="active"><a href="/articles/list/">Articles</a>
		                <ul> 
			                <li><a href="/articles/list/">Available</a></li> 
		                    <li><a href="/articles/list/">Assigned to Me</a></li> 
		                    <li><a href="/articles/list/?last_action=G">Assigned</a></li> 
		                    <li><a href="/articles/list/?last_action=C">Claimed</a></li> 
			                <li><a href="/articles/list/?last_action=S">Submitted</a></li> 
			                <li><a href="/articles/list/?last_action=A">Approved</a></li> 
			                <li><a href="/articles/list/?last_action=X">Rejected</a></li> 
                            <li><a href="/articles/list/?last_action=P">Published</a></li>
		                </ul>
                    </li>
                    <li class=" "><a href="/keywords/">Keywords</a></li>
                    <li><a href="/writers/">Writers</a></li>
                    <li class="nobg"><a href="/reports/">Reports</a></li>
                </ul>
                {% if user.is_authenticated %}
                    <p class="user">Hi <a href="/profile/">{{user.username}}</a>! <!--(1589/0)--> &nbsp;|&nbsp; <a href="{% url logout %}">Logout</a></p>
                {% else %}
                    <p class="user">Welcome, guest. <!--(1589/0)--> &nbsp;|&nbsp; <a href="{% url login %}">Log in</a>.</p>
                {% endif %}
                

            </div>
            <!-- #header ends -->
            <!-- content_start mark -->
                <ul id="messages" class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% block content %}
            {% endblock %}
            <!-- content_end mark -->

			<p>&nbsp;</p>
			
			<div id="footer">
			
				<p class="left"><a target="_blank" href="http://www.facebook.com/writeaid"><img width="16" border="0" height="16" style="vertical-align: text-top;" alt="Facebook" src="{{STATIC_URL}}img/facebook.png"></a>&nbsp;&nbsp;<a target="_blank" href="https://twitter.com/#!/Write_Aid"><img width="16" border="0" height="16" style="vertical-align: text-top;" alt="Twitter" src="{{STATIC_URL}}img/twitter.png"></a>&nbsp;&nbsp;| <a href="/blog/">Blog</a> | <a href="/affiliates/">Affiliates</a> | <a href="/contact/">Contact</a></p>
				<p class="right">powered by <a href="">Django</a></p>
               
				
			</div>
			<div id="ajax-data" style="display: none;"></div>
		</div>						<!-- wrapper ends -->
	</div>		<!-- #hld ends -->
</body>
</html>
