<div class="inlineform formWrapper curved">
    {{inlineform.errors}}
    <div class="name-area">
        <div class="element-feature">Title: {{inlineform.name}}</div>
        {% if inlineform.instance.uses_choices %}<div class="element-feature">Choices: {{inlineform.details}}</div>{% endif %}
        {% if inlineform.instance.uses_image %}<div class="element-feature">Image: {{inlineform.image}}</div>{% endif %}
    </div>
    <div class="preview-area">
        {% with element=inlineform %}
            {% include "forms/element_preview.html" %}
        {% endwith %}
    </div>
    <div style="clear:both;"></div>
    <div class="show-hide show-hide-trigger show-hide-shown">Show More Options</div>
    <div class="show-hide show-hide-trigger show-hide-hidden">Hide</div>
    <div class="details show-hide show-hide-hidden">
        <div class="element-feature">Tooltip: {{inlineform.tooltip}}</div>
        <div class="element-feature">Required: {{inlineform.required}}</div>
        <div class="element-feature">Unique: {{inlineform.unique}}</div>
        {{inlineform.order}}
        {{inlineform.klass}}
        {{inlineform.id}}
        {{inlineform.DELETE}}
    </div>
</div>
