{% extends "base.html" %}
{% load tags %}
{% block content %}
    <div class="form-display formWrapper curved">
        {% if user.can_edit %}<a href="{% url form-edit pk=object.pk slug='adsf' %}">Edit this form</a> <a href="{% url csv pk=object.pk slug='adsf' %}">Download Results as CSV</a>{% endif %}
        <form action="{{object.get_absolute_url}}" method="POST">{% csrf_token %}
            {{ form.non_field_errors }}
            {% for field in form %}
                <div class="fieldWrapper">
                    {{ field.errors }}
                    {% if field.field.show_label %}{{ field.label_tag }}{% if field.field.required %} *{% endif %} :{% endif %} 
                    {% if field.field.description %}<div class="description">{{field.field.description}}</div>{% endif %}
                    {{ field }}
                </div>
            {% endfor %}
        <input type="submit">
        </form>
    </div>
{% endblock %}
