{% extends "base.html" %}
{% block head %}
    
{% endblock %}
{% block content %}
    <div class="wizard-steps">
        <div class="completed-step"><a href="{{object.get_theme_url}}"><span>1</span>Name & Theme</a></div>
        <div class="completed-step"><a href="{{object.get_edit_url}}"><span>2</span>Edit Elements</a></div>
        <div class="active-step"><a href="#"><span>3</span>Share!</a></div>
    </div>
    <div class="curved">
        <form id="share_form" action="" method="POST">{% csrf_token %}
            <h1>Your form is almost ready.</h1>
            Copy this link to share this form: <a href="http://{{site.domain}}{{object.get_absolute_url}}">{{object.name}}</a><br>
            Give us an email address where we can send the results: <br>
            <input type="text" id="id_email" name="email"> <a href="#" onclick="$('#share_form').submit();">Save</a><br>
            Or...<br>
            <a href="{% url csv pk=object.pk slug='x' %}">Download Results as CSV</a>

            <h3>To add your form to facebook, it's just 2 simple steps:</h3> 
            Step 1: <a href="http://www.facebook.com/pages/create.php" target="_blank">Click here to create a Facebook page if you don't already have one.</a><br>
            Step 2: <a href="http://www.facebook.com/dialog/pagetab?app_id=519129288106424&next=http://{{site.domain}}{% url form-get pk=object.pk slug='x' %}">Click here to add your form to your facebook page</a><br>
            <a href="{% url facebook pk=object.pk slug='adsf' %}">Add to Facebook Page</a>
        </form>   
    </div>
{% endblock %}
