body {
/*    background: url("/static/img/black-stripe.gif") repeat scroll 0 0 #282828;*/
    background: none repeat scroll 0 0 #FAF0D9;
}

#container{
}

#left-panel{
    width:200px;
    padding: 15px;
    float:left;
}

#content{
    width:800px;
    float:left;
}

.formWrapper {
}
.name-area{
    width:50%;
    float:left;
}
.preview-area{
    width:50%;
    float:right;
}
.toggle-text{
    cursor:pointer;
}
li.toolbar-element{
    list-style:none;
    vertical-align:middle;
}
ul.toolbar-elements{
    padding:0;
}
.curved:before, .curved:after {
    content: "";
    position: absolute;
    z-index: -2;
    content: "";
    position: absolute;
    z-index: -2;
}
.curved:before {
    border-radius: 100px 100px 100px 100px / 10px 10px 10px 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    bottom: 0;
    left: 10px;
    right: 10px;
    top: 0;
    
}
.curved {
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    padding: 1em;
    position: relative;
    margin-bottom:10px;
}
